@model IEnumerable<Devdiscourse.Models.ViewModel.AuthorView>
@{
    ViewBag.Title = "AuthorDetails";
    Layout = "~/Views/Shared/_Layout _plain.cshtml";
}
<link href="~/Content/admin.css" rel="stylesheet" />
<div class="bg-white p-20">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Admin")">Admin</a></li>
        <li class="breadcrumb-item active">Details</li>
    </ol>
    <div class="m-b-30 row">
        <div class="col-xs-12 col-sm-6 col-md-2">
            <label>Month</label>
            <select class="form-control" id="selMonth">
                <option value="0">Select</option>
                @for(int i = 1; i < 13; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
            <label>Year</label>
            <select class="form-control" id="selYear">
                <option value="0">Select</option>
                @for (int i = 2017; i < 2021; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
    </div>
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>Author</th>
                <th>News Count</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Author</td>
                    <td>@item.NewsCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        var _month = '@(ViewBag.month)';
        var _year = '@(ViewBag.year)';

        $('#selMonth').val(_month);
        $('#selYear').val(_year);

        $('#selMonth').change(function () {
            _month = $('#selMonth').val();
            window.location.href = "/Admin/AuthorDetails?month=" + _month + "&year=" + _year;
        });
        $('#selYear').change(function () {
            _year = $('#selYear').val();
            window.location.href = "/Admin/AuthorDetails?month=" + _month + "&year=" + _year;
        });
    </script>
}