@model IEnumerable<Devdiscourse.Models.ViewModel.VideoViewModel>
@if (Model!=null)
{
    <h3 class="section-title">
        <span>DevShots</span>
    </h3>
    if (ViewBag.filter == "article")
    {
        <div class="row">
            @foreach (var item in Model.Take(1))
            {
                var newsImage = item.FileThumbUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.FileThumbUrl : item.FileThumbUrl;
                <div class="col-xs-12">
                    <a href="@Url.RouteUrl("NewsVideo", new{id=item.GenerateSecondSlug()})" title="@item.Title">
                        <div class="trend-card bg-gray lazy" style="background-image:url(/Content/transparent.png);" data-src="@newsImage?width=327&height=180&format=jpg&mode=crop&quality=80">
                            <div style="width:100%;height:100%;background-color:rgba(0,0,0,.5);padding-top:20%;">
                                <div class="center-block text-center p-10" style="background-color:#ff6a00;color:#fff;width:60px;top:15%;">
                                    <span class="fa fa-play fa-2x"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="card3-title card-bottom" style="height:auto;">
                        <a href="@Url.RouteUrl("NewsVideo", new{id=item.GenerateSecondSlug()})" title="@item.Title" class="text-decoration">
                            <h4 style="font-stretch:extra-condensed;line-height:1.2;font-weight:400" class="no-margin">@item.Title</h4>
                        </a>
                    </div>
                </div>
            }
        </div>
        <a href="/news/videos" title="View All" class="read-more-btn m-t-5 m-b-5">View All</a>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model.Take(4))
            {
                var newsImage = item.FileThumbUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.FileThumbUrl : item.FileThumbUrl;
                <div class="col-xs-12">
                    <a href="@Url.RouteUrl("NewsVideo", new{id=item.GenerateSecondSlug()})" title="@item.Title">
                        <div class="trend-card bg-gray lazy" style="background-image:url(/Content/transparent.png);" data-src="@newsImage?width=327&height=180&mode=crop&quality=80">
                            <div style="width:100%;height:100%;background-color:rgba(0,0,0,.5);padding-top:20%;">
                                <div class="center-block text-center p-10" style="background-color:#ff6a00;color:#fff;width:60px;top:15%;">
                                    <span class="fa fa-play fa-2x"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="card3-title card-bottom">
                        <a href="@Url.RouteUrl("NewsVideo", new{id=item.GenerateSecondSlug()})" title="@item.Title" class="text-decoration">
                            <h4 style="font-stretch:extra-condensed;line-height:1.2;font-weight:400" class="no-margin">@item.Title</h4>
                        </a>
                    </div>
                </div>
            }
        </div>
        <a href="/news/videos" title="View All" class="read-more-btn">View All</a>
    }
}
else
{
    <h3 class="section-title">
        <span>DevShots</span>
    </h3>
    <div class="col-xs-12">

            <div class="trend-card bg-gray lazy" style="background-image:url(/Content/transparent.png);" data-src="">
                <div style="width:100%;height:100%;background-color:rgba(0,0,0,.5);padding-top:20%;">
                    <div class="center-block text-center p-10" style="background-color:#ff6a00;color:#fff;width:60px;top:15%;">
                        <span class="fa fa-play fa-2x"></span>
                    </div>
                </div>
            </div>
 
        <div class="card3-title card-bottom" style="height:auto;">

                <h4 style="font-stretch:extra-condensed;line-height:1.2;font-weight:400" class="no-margin">No Videos</h4>
    
        </div>
    </div>
    
}
