@model IEnumerable<Devdiscourse.Models.ViewModel.LatestNewsView>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="mini-card">
                <div class="media">
                    @if (!string.IsNullOrEmpty(item.ImageUrl) && item.ImageUrl != "/images/defaultImage.jpg" && item.ImageUrl != "/images/newstheme.jpg" && item.ImageUrl != "/images/sector/all_sectors.jpg")
                    {
                        var newsImage = item.ImageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.ImageUrl : item.ImageUrl;
                        <div class="media-left">
                            <a href="@Url.RouteUrl("ArticleDetailswithprefix", new { prefix = item.Label??"agency-wire", id = item.GenerateSecondSlug() })" aria-label="@item.Title">
                                <div class="image-card bg-gray" style="background-image:url(@newsImage?width=100&height=80&mode=crop),url(/AdminFiles/Logo/ic_notFound.png)"></div>
                            </a>
                        </div>
                    }
                    <div class="media-body" style="padding:8px;">
                        @if (item.Type == "Blog")
                        {
                            if (!String.IsNullOrEmpty(@item.SubType))
                            {
                                <span class="pull-right infocus-badge">@item.SubType</span>
                            }
                            else
                            {
                                <span class="pull-right infocus-badge">Blog</span>
                            }
                        }
                        <a href="@Url.RouteUrl("ArticleDetailswithprefix", new {prefix = item.Label??"agency-wire", id = item.GenerateSecondSlug() })" class="text-decoration p-b-10">
                            <h4 class="no-margin fg-black" style="font-weight:400">@item.Title</h4>
                        </a>
                        <div class="p-t-5"><small>@item.TimeAgo()</small></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>