@model IEnumerable<Devdiscourse.Models.BasicModels.Team>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="p-b-20 col-xs-6 col-sm-4 col-md-3">
            <div class="team-tile" title="@item.TeamMember">
                <div class="profile-img bg-gray lazy center-block"
                     style="background-image:url(@item.ProfilePic);
                            background-repeat: no-repeat;
                            background-position: center;">
                    <span class="sr-only">@item.TeamMember</span>
                </div>
                <h4 class="member-name title text-center">
                    @item.TeamMember
                </h4>
                <p class="member-desig title text-center" style="line-height:1.2;">
                    @item.Designation
                </p>
            </div>
        </div>
    }
</div>
