@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string domainUrl = "https://www.devdiscourse.com";
    ViewBag.Title = @ViewBag.tag + " News | Devdiscourse";
    ViewBag.pageKeywords = @ViewBag.tag + ", Daily News, Latest News, Breaking News, India News, World News, International Development News | Devdiscourse";
    ViewBag.PageDescription = "Latest News on " + @ViewBag.tag + ", Read more information on " + @ViewBag.tag;
    ViewBag.PostUrl = "https://www.devdiscourse.com/news?tag=" + @ViewBag.tag;
    string imageUrl = "/AdminFiles/Logo/devediscourse_banner.png";
    string region = ViewBag.region;
    ViewBag.webEdition = region;
    var newsImage = imageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? imageUrl : string.Concat(domainUrl, imageUrl);
    ViewBag.PageImage = newsImage;
    var isMobile = HttpContextAccessor.HttpContext.Request.Headers["User-Agent"].ToString().Contains("Mobi", StringComparison.OrdinalIgnoreCase);
}
<style>
    .isDisabled {
        color: #222;
        cursor: not-allowed;
        opacity: 0.8;
        text-decoration: none;
        pointer-events: none;
    }

    .infocus-badge {
        padding: 3px 5px;
        margin-top: 5px;
        font-size: 12px;
        background-color: #ff7b00;
        color: #fff;
    }

    .media-heading {
        font-weight: 400;
    }

    .news-list-div {
        border-bottom: 1px solid #ddd;
        height: 100px;
    }

        .news-list-div .media h4 {
            font-size: 17px;
        }

    .cover-img {
        padding-bottom: 54%;
        position: relative;
        background-size: cover;
    }

    .cover-img-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4)
    }

    .text-cont {
        position: absolute;
        bottom: 0;
        padding: 20px;
    }

    .title-main {
        font-weight: 500;
        font-size: 36px;
    }

    .country-main {
        float: right;
        font-family: sans-serif;
        background-color: #000;
        color: #fff;
        padding: 8px 24px;
    }

    .title-sub {
        font-weight: 500;
        margin-top: 5px;
        line-height: 1.38;
        font-size: 20px
    }

    .country-sub {
        display: inline-block;
        font-family: sans-serif;
        z-index: 10;
        background-color: #000;
        color: #fff;
        padding: 2px 7px;
        font-size: 10px;
        margin-top: 5px
    }

    .p-l-0 {
        padding-left: 0;
    }

    @@media(max-width:1440px) {
        .news-list-div {
            height: 120px;
        }
    }

    @@media(max-width:768px) {
        .news-list-div {
            height: 105px;
        }
    }

    @@media(max-width:425px) {
        #newsContainer .p-l-0 {
            padding-left: 15px;
        }
    }</style>
<input type="hidden" value="@ViewBag.tag" id="tag_value" />
<div class="container">
    <div class="advertisement-area" style="min-height:130px">
        <div class="advertisement-title">Advertisement</div>@* @@* if (!Request.Browser.Crawler) *@ *
        {
        @* if (Request.Browser.IsMobileDevice) *@
        @if (isMobile)
        {
            <div class="text-center" style="min-height:50px"> <a href="https://www.visionri.com/insight/24-tracking-fintech-during-covid-19-harnessing-power-of-technology" target="_blank" rel="noopener"> <img src="~/Content/transparent.png" data-src="/AdminFiles/COE/fintech_320x50.jpg" class="lazy" /> </a> </div>
        }
        else
        {
            <div class="text-center" style="min-height:100px"> <a href="https://www.visionri.com/insight/24-tracking-fintech-during-covid-19-harnessing-power-of-technology" target="_blank" rel="noopener"> <img src="~/Content/transparent.png" data-src="/AdminFiles/COE/fintech_728x90.jpg" class="lazy" /> </a> </div>
        }
        }
    </div><ul class="breadcrumb breadcrumb_new m-t-10" itemscope itemtype="http://schema.org/BreadcrumbList"> <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> <a href="@Url.Action("Index", "Home")" target="_top" itemprop="item"><span itemprop="name">Home</span></a> <meta itemprop="position" content="1" /> </li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> <a href="@Url.RouteUrl("NewsSector", new{sector=""})" target="_top" itemprop="item"><span itemprop="name">News</span></a> <meta itemprop="position" content="2" /> </li></ul> <div class="row">
        <div class="col-xs-12 col-md-8"> <h1 class="section-title"><span>@ViewBag.tag</span></h1> <div class="row" id="newsContainer" style="min-height:400px;"> </div><div id="loading" style="display:none;"> <p class="text-center"><span class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></span> Loading... </p></div></div><div class="col-xs-12 col-md-4">
            <div class="clearfix" id="opinion"></div><div class="clearfix m-t-30">
                <h2 class="section-title2"> <span>TRENDING</span> </h2> @{
            // Html.RenderAction("GetTrends", "Home", new { filter = "Trends", reg = ViewBag.region });
                }
            </div><div class="m-t-20 clearfix" id="latestNews"></div><div id="AfricaEditionNews"></div><div id="EditionNews"></div><div class="clearfix m-t-30 hidden-xs hidden-sm"> @Html.Partial("_socialPartial") </div><div class="clearfix m-t-30" id="videoNews"></div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var region = '@(ViewBag.region)';
            var tag = $('#tag_value').val();
            var page = 0;
            var inCallback = false;
            var showMoreCounter = 0;
            var isReachedScrollEnd = false;
            var monthArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            loadNewsData();
            // Active Menu Icon
            $(document).find('.linkBtn').removeClass('active');
            $(document).find('#newsLink').addClass('active');
            // Region Search
            $(document).find('#regDropDown').change(function () {
                var date = new Date();
                date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
                document.cookie = "Edition=" + $(this).val() + ";expires=" + date.toGMTString() + "; path=/";
                window.location.href = $(this).find('option:selected').attr('data-to');
            });
            GetOpinion(); function GetOpinion() { var ApiDataUrl = "/api/Search/GetAnalysis/" + region + "/0"; $.getJSON(ApiDataUrl, function (data) { var alertHtml = ''; $.each(data, function (i, item) { var slugUrl = convertToSlug(item.NewsId, item.Title); var label = item.Label != null ? item.Label : "agency-wire"; var Image = item.Image.indexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.Image : item.Image; alertHtml += '<a href="/article/' + label + '/' + slugUrl + '" class="text-decoration"><div class="news-media-card p-t-10 media"><div class="media-body"><h3 class="media-title no-margin">' + item.Title + '</h3></div><div class="media-right"><img src="https://www.devdiscourse.com' + Image + '?width=60&height=60&mode=crop" width="60" height="60" class="img-rounded pull-right"/></div></div></a>' }); $('#opinion').html('<h2 class="section-title"><span><a href="/blogs" class="text-decoration">OPINION / BLOG / ANALYSIS</a></span></h2>' + alertHtml) }) }
            $.ajax("/Home/GetVideoNews?reg=" + '@(ViewBag.region)').done(function (data) {
                $("#videoNews").html(data);
                $('.lazy').lazy();
            });

            $(window).scroll(function () {
                if (isReachedScrollEnd == false && ($(document).scrollTop() <= $(document).height() - $(window).height()) && showMoreCounter < 5) {
                    loadNewsData();
                }
            });
            function convertToSlug(newsId, str) {
                str = str.replace(/^\s+|\s+$/g, '');
                str = str.toLowerCase();
                var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
                var to = "aaaaeeeeiiiioooouuuunc------";
                for (var i = 0, l = from.length; i < l; i++) {
                    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
                }
                str = str.replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-').replace(/-+/g, '-');
                return newsId + "-" + str;
            }
            GetLatestNews();
            function GetLatestNews() {
                $.ajax({
                    url: '/api/Search/GetLatestNews/' + region,
                    type: "GET",
                    success: function (result) {
                        var latestItems = '';
                        if (result.length > 0) {
                            var content = '';
                            $.each(result, function (i, item) {
                                var newsType = '';
                                if (item.Type == "Event") {
                                    newsType = '<span class="pull-right infocus-badge">' + item.Type + '</span>';
                                }
                                else if (item.Type == "Blog") {
                                    if (item.SubType != "" || item.SubType != null) {
                                        newsType = '<span class="pull-right infocus-badge">' + item.SubType + '</span>';
                                    }
                                    else {
                                        newsType = '<span class="pull-right infocus-badge">Blog</span>';
                                    }
                                }
                                content += '<a href="/article/' + (item.Label == null ? 'agency-wire' : item.Label + '/' + convertToSlug(item.NewId, item.Title)) + '" class="text-decoration"><div class="p-b-5 p-t-10" style="border-bottom:1px solid #ddd">' + newsType + '<h4 class="media-title no-margin">' + item.Title + '</h4></div></a>';
                            });
                            latestItems = '<h2 class="section-title"><span>LATEST STORIES</span></h2>' +
                                content + '<a href="@Url.RouteUrl("NewsAnalysis")" class="read-more-btn clearfix" style="margin-top:5px">Read More</a>';
                            $('#latestNews').html(latestItems);
                        }
                    },
                    error: function (req, status, err) {
                        console.log(req.responseText)
                    }
                })
            }
            function loadNewsData() {
                if (page > -1 && !inCallback) {
                    inCallback = true;
                    page++;
                    $("#loading").show();
                    $.ajax({
                        type: 'GET',
                        url: '/api/Search/GetTagsNews/' + encodeURI(tag.trim()) + '/Global%20Edition/' + page,
                        dataType: "json",
                        success: function (data) {
                            showMoreCounter = showMoreCounter + 1;
                            if (data.length == 0) {
                                isReachedScrollEnd == true;
                                $("#loading").hide();
                                return;
                            }
                            var html = '';
                            $.each(data, function (i, item) {
                                var imageContent = '';
                                var urlSlug = convertToSlug(item.NewId, item.Title);
                                var label = item.Label != null ? item.Label : "agency-wire";
                                var country = item.Country != null ? item.Country : '';
                                if (item.ImageUrl != null && item.ImageUrl != "/images/defaultImage.jpg" && item.ImageUrl != "/images/newstheme.jpg" && item.ImageUrl != "/images/sector/all_sectors.jpg") {
                                    var newsImage = item.ImageUrl.indexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.ImageUrl : item.ImageUrl;
                                    imageContent = '<div class="media-left"><a href="/article/' + label + '/' + urlSlug + '" aria-label="' + item.Title + '"><img src="' + newsImage + '?width=90&height=90&mode=crop"></a></div>';
                                }
                                var createdOn = new Date(item.CreatedOn);
                                createdOn.setMinutes(createdOn.getMinutes() - (new Date).getTimezoneOffset());
                                var countryHtml = 'Global';
                                if (country.split(',').length > 0 && country != '') {
                                    countryHtml = country.split(',')[0];
                                }
                                html += '<a href="/article/' + label + '/' + urlSlug + '" class="text-decoration">' +
                                    '<div class="m-b-30 col-md-12"><div class="row">' +
                                    '<div class="col-md-5 col-sm-4"><div class="bg-gray cover-img lazy" data-src="https://www.devdiscourse.com' + newsImage + '?width=295&height=160&mode=crop&format=jpeg"></div>' +
                                    '</div><div class="col-md-7 col-sm-8 p-l-0">' +
                                    '<div class="text-uppercase country-sub">' + countryHtml + '</div>' +
                                    '<h3 class="title-sub">' + item.Title + '</h3>' +
                                    '<h5 class="no-margin font-oswald fg-black">' + createdOn.getDate() + ' ' + monthArray[createdOn.getMonth()] + ' ' + createdOn.getFullYear() + '</h5>' +
                                    '</div></div></div></a>';
                            });

                            inCallback = false;
                            $("#newsContainer").append(html);
                            if (showMoreCounter == 5) {
                                $("#newsContainer").append('<div class="col-xs-12"><div style="padding:10px;border:1px solid #eee;" class="loadMoreButton m-t-10 m-b-10 text-center">SHOW MORE <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></div></div>');
                            }
                            $('.lazy').lazy();
                            $("#loading").hide();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                        }
                    });
                }
            }
            $(document).on("click", ".loadMoreButton", function () {
                $(this).remove();
                showMoreCounter = 0;
                loadNewsData();
            });

        });
    </script>
}
