@model IEnumerable<Devdiscourse.Models.ViewModel.LatestNewsView>
@{
    string domainUrl = "https://www.devdiscourse.com";
}

@functions {
    async Task CountryHelper(string country)
    {
        if (!string.IsNullOrEmpty(country))
        {
            var countryArr = country.Split(','); foreach (var t in countryArr.Take(1))
            {
                @t
            }
        }
        else
        {
            <span>Global</span>
        }
    }
}
@functions {
    async Task MediaTempate(Devdiscourse.Models.ViewModel.LatestNewsView item, string border)
    {
        string controller = "/article";
        string action = item.Label ?? "agency-wire";
        string id = item.GenerateSecondSlug();
        //long id = item.NewId;
        @*  <a href="@Url.RouteUrl("ArticleDetailswithprefix", new{prefix=item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})" class="text-decoration">*@
        <a href="@controller/@action/@id" class="text-decoration">

            @* <a asp-controller="@controller" asp-route-prefix="@action" asp-route-id="@id" class="text-decoration">*@

            <div class="p-t-10 p-b-10 m-b-10" style="@border">
                <h3 class="trend-title no-margin">@item.Title</h3>
            </div>
        </a>
    }
}

@if (ViewBag.skipCount == 0)
{
    <h2 class="section-title"> <span title="Latest News">LATEST STORIES</span> </h2>
}<div class="row">
    @foreach (var item in Model.Skip(0).Take(3))
    {
        <div class="col-xs-12 col-sm-12 col-md-4 p-t-10">
            @if (item.Type == "Event")
            {
                <span class="pull-right infocus-badge">@item.Type</span>
            }
            else if (item.Type == "Blog")
            {
                <span class="pull-right infocus-badge">@item.SubType</span>
            }<div class="row">
                @{
                    var newsImage = $"/Experiment/Img?imageUrl={item.ImageUrl}";
                    //var newsImage = "https://devdiscourse.blob.core.windows.net/devnews/13_02_2019_15_50_27_8830586.jpg?width=360&height=240&mode=crop&format=jpeg&quot";
                }
                <div class="col-md-12 col-sm-6">
                    <img src="~/Content/transparent.png?width=36&height=20&mode=crop" data-src="@domainUrl@newsImage&width=360&height=200&mode=crop" class="img-responsive lazy" alt="@item.Title" />
                </div>
                <div class="col-md-12 col-sm-6">
                    @{
                        await MediaTempate(item, "margin-top:10px;");
                    }

                </div>
            </div>
        </div>
    }
</div>
@for (int index = 1; index < 4; index++)
{
    <div class="row">
        @foreach (var item in Model.Skip(index * 3).Take(3))
        {
            <div class="col-xs-12 col-sm-12 col-md-4">
                @if (item.Type == "Event")
                {
                    <span class="pull-right infocus-badge">@item.Type</span>
                }
                else if (item.Type == "Blog")
                {
                    <span class="pull-right infocus-badge">@item.SubType</span>
                }
                @{
                    await MediaTempate(item, "border-top:1px solid #ececec");
                }

            </div>
        }
    </div>
}
<a href="@Url.RouteUrl("NewsAnalysis")" class="read-more-btn">Read More</a>