@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string domainUrl = "https://www.devdiscourse.com";
    string imageUrl = "/AdminFiles/Logo/devediscourse_banner.png";
    string edition = ViewBag.Edition;
    ViewBag.webEdition = edition;
    var newsImage = imageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? imageUrl : string.Concat(domainUrl, imageUrl);
    ViewBag.PageImage = newsImage + "&width=920";
    var isMobile = HttpContextAccessor.HttpContext?.Request.Headers["User-Agent"].ToString().Contains("Mobi", StringComparison.OrdinalIgnoreCase);
}
@{
    switch (edition)
    {
        case "Pacific":
            ViewBag.Title = "Pacific Edition: International Development News from Australia & Japan | Devdiscourse";
            ViewBag.alternateHeadline = "Pacific News - Development News from Australia & Japan | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse - Get Latest Headline From Pacific. International Development News, Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/pacific";
            ViewBag.pageKeywords = "International Development News, Devdiscourse Pacific, Devdiscourse Australia, SDGs News, Japan News, New Zealand News, Politics News, Business News, Sports News, Technology News";
            break;
        case "South Asia":
            ViewBag.Title = "South Asia News: International Development News, Breaking News, India News";
            ViewBag.alternateHeadline = "Breaking News from South Asia, International Development News, India News | Devdiscourse";
            ViewBag.PageDescription = "International Development News from South Asia. Breaking News, Opinion, Analysis, Business, Technology, Politics, Health, Education and more.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/south-asia";
            ViewBag.pageKeywords = "International Development News, Devdiscourse News, Breaking News, Live News, India News, India Politics News, South Asia news, SDGs News, Pakistan News, Bangladesh News, Sri Lanka News, Bollywood News, Sports News, Technology News";
            break;
        case "East and South East Asia":
            ViewBag.Title = "East & South East Asia Edition: International Development News | Devdiscourse";
            ViewBag.alternateHeadline = "East & South East Asia News - International Development News | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse: Get Latest Headline from East & South East Asia. International Development News, Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/south-east-asia";
            ViewBag.pageKeywords = "Devdiscourse News, International Development News, East & South East Asia News, China News, Japan News, Philippines News, Thailand News, Cambodia News, Vietnam News, Politics, Sports, Technology";
            break;
        case "Europe and Central Asia":
            ViewBag.Title = "Europe & Central Asia Edition: International Development News | Devdiscourse";
            ViewBag.alternateHeadline = "Europe & Central Asia News - International Development News | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse: Get Latest Headline from Europe & Central Asia. International Development News, Breaking news on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/europe-central-asia";
            ViewBag.pageKeywords = "Devdiscourse news, International Development News, Europe News, Central Asia News, SDGs News, Russia News, United Kingdom News, Germany News, France News, Politics News, Sports News, Technology News";
            break;
        case "Central Africa":
            ViewBag.Title = "Central Africa Edition: International Development News | Devdiscourse";
            ViewBag.alternateHeadline = "Central Africa News - International Development News | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse: Get Latest Headline from Central Africa. International Development News, Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/central-africa";
            ViewBag.pageKeywords = "Devdiscourse news, International Development News, Central Africa News, Africa News, SDGs News, Cameroon News, Central African Republic News, Chad News, Congo News, Madagascar News Africa Politics, Funding in East Africa, East Africa Sports News, Technology News";
            break;
        case "East Africa":
            ViewBag.Title = "East Africa Edition: International Development News | Devdiscourse";
            ViewBag.alternateHeadline = "East Africa News - International Development News | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse: Get Latest Headline From East Africa. International Development News, Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/east-africa";
            ViewBag.pageKeywords = "Devdiscourse news, International Development News, East Africa News, SDGs News, Kenya News, Rawanda News, Ethiopia News, Tanzania News, Africa Politics, Funding in East Africa, East Africa Sports News, Technology News";
            break;
        case "Southern Africa":
            ViewBag.Title = "Southern Africa Edition: International Development News, Zimbabwe, Zambia, South Africa and more | Devdiscourse";
            ViewBag.alternateHeadline = "Southern Africa News - International Development News, Zimbabwe News, Zambia News | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse: Get Latest Headline from Southern Africa. International Development News, Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/southern-africa";
            ViewBag.pageKeywords = "Devdiscourse news, International Development News, Live News, South Africa News, Zimbabwe Politics, Devdiscourse South Africa Edition, SDGs News, Zambia News, Angola News, Politics News, Sports News, Technology News";
            break;
        case "West Africa":
            ViewBag.Title = "West Africa Edition: International Development News, Ghana News, Nigeria News | Devdiscourse";
            ViewBag.alternateHeadline = "West Africa News - International Development News, Ghana News, Nigeria News | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse: Get Latest Headline from West Africa. International Development News, Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/west-africa";
            ViewBag.pageKeywords = "Devdiscourse News, West Africa News, International Development News, Live News, Nigeria Politics, Devdiscourse West Africa Edition, SDGs News, Nigeria News, Ghana News, Politics News, Sports News, Technology News";
            break;
        case "Middle East and North Africa":
            ViewBag.Title = "Middle East & North Africa News - International Development News | Devdiscourse";
            ViewBag.alternateHeadline = "Middle East & North Africa News - International Development News | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse:Get Latest Headline From Middle East & North Africa. International Development News, Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/middle-east-north-africa";
            ViewBag.pageKeywords = "Devdiscourse News, International Development News, North Africa News, SDGs News, Russia News, United Kingdom News, Germany News, France News, Politics News, Sports News, Technology News";
            break;
        case "North America":
            ViewBag.Title = "North America News - International Development News, United States News, Canada News | Devdiscourse";
            ViewBag.alternateHeadline = "North America News - International Development News, United States News, Canada News | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse - Get Latest Headline From North America. International Development News, Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/north-america";
            ViewBag.pageKeywords = "Devdiscourse News, International Development News, North America, United State, Devdiscourse Canada, SDGs News, NBA News, Politics News, Sports News, Technology News";
            break;
        case "Latin America and Caribbean":
            ViewBag.Title = "Latin America & Caribbean News - International Development News | Devdiscourse";
            ViewBag.alternateHeadline = "Latin America & Caribbean News - International Development News | Devdiscourse";
            ViewBag.PageDescription = "Devdiscourse: Get Latest Headline From Latin America & Caribbean. International Development News, Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
            ViewBag.PostUrl = "https://www.devdiscourse.com/latin-america";
            ViewBag.pageKeywords = "Devdiscourse news, International Development News, Latin America news, Caribbean News, Brazil News, Argentina News, Cambodia News, Chile News, Peru News, Politics News, Business News, Sports News, Technology News";
            break;
    }
}
<script type="application/ld+json">
    {"@@context":"https://schema.org","@@type":"NewsMediaOrganization","name":"Devdiscourse","alternateName":"Devdiscourse","url":"https://www.devdiscourse.com","logo":"https://www.devdiscourse.com/AdminFiles/Logo/ic_logo_amp.png","contactPoint":{"@@type":"ContactPoint","telephone":"+91-130-6444012","contactType":"customer service","areaServed":"IN","availableLanguage":"en"},"sameAs":["https://www.facebook.com/devdiscourse","https://twitter.com/dev_discourse","https://www.instagram.com/devdiscourse","https://www.youtube.com/c/Devdiscourse","https://www.linkedin.com/showcase/dev_discourse","https://in.pinterest.com/devdiscourse"]}
</script>
@section lastModified {
    <meta http-equiv="last-modified" content="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:sszzz")" />
}
<style>
    .frame-ad {
        height: 90px;
        max-width: 100%;
        display: block;
        margin: 20px auto;
        width: 728px
    }

    .video-container {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f4f4f4;
        padding: 10px 0 30px 0
    }

    .country-sub {
        display: inline-block;
        font-family: sans-serif;
        z-index: 10;
        background-color: #ff7b00;
        color: #fff;
        padding: 2px 7px;
        font-size: 10px;
        margin-top: 5px
    }

    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled, .text-design span {
        display: block
    }

    .label.label-primary {
        background-color: red;
        font-weight: 400;
        font-family: monospace;
        font-size: 80%
    }

    .infocus-badge {
        padding: 3px 5px;
        margin-top: 5px;
        font-size: 12px;
        background-color: #ff7b00;
        color: #fff
    }

    .infocus-item {
        display: block;
        position: relative
    }

    .news-media-card.interview-media-card {
        border-top: 1px solid #646464;
        border-bottom: 0;
        margin: 0;
        padding: 10px;
        background-color: #4d4d4d
    }

        .news-media-card.interview-media-card .media-meta {
            color: #fff
        }

    .item-caption {
        position: absolute;
        bottom: 0
    }

        .item-caption .title {
            font-family: Oswald,sans-serif;
            color: #fff
        }

            .item-caption .title:hover {
                color: red
            }

    .infocus-news {
        padding-bottom: 54%;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover
    }

    .interview-news {
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover
    }

    #myCarousel {
        margin-bottom: 50px
    }

    .carousel-badge {
        color: #fff;
        background-color: #4d4d4d;
        border-radius: 2px;
        margin: 5px !important
    }

    .blog-card {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
        border-radius: 3px;
        padding: 8px;
        min-height: 120px
    }

    .infocus-card {
        display: block;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd
    }

        .infocus-card .title {
            margin-bottom: 0;
            margin-top: 5px;
            font-weight: 400;
            line-height: 1.2;
            font-size: 17px
        }

    .country {
        color: #ff6a00;
        font-weight: 500
    }

    .news-item-overlay {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,.9),rgba(0,0,0,1));
        padding: 8px
    }

    .interest-card, .sectorNewsCard .media {
        padding-bottom: 5px
    }

    .content-overlay {
        height: 50%;
        background: linear-gradient(rgba(0,0,0,0),rgba(255,255,255,.4),rgba(255,255,255,1))
    }

    .text-design {
        text-decoration: none !important;
        color: #fff !important
    }

    .myCard .heading {
        color: #222
    }

    .myCard:hover .heading {
        color: #ff7b00
    }

    .sectorNewsCard {
        margin-top: 5px;
        border-bottom: 1px solid #ddd
    }

    .mini-card {
        height: 85px;
        margin-top: 5px
    }

        .mini-card .image-card {
            width: 100px;
            height: 80px;
            background-size: cover
        }

    .col-lg-12 .sectorNewsCard:last-child, .col-lg-6 .sectorNewsCard:last-child {
        border-bottom: 1px solid transparent
    }

    .sectorNewsCard .image-card {
        width: 90px;
        height: 90px;
        background-size: cover
    }

    .owl-stage-outer {
        padding-top: 0;
        z-index: 1000 !important
    }

    .interest-card {
        border-bottom: 1px solid #ddd;
        margin-top: 5px
    }

    .col-lg-3 .interest-card:last-child {
        border-bottom: 1px solid transparent
    }

    .borderpadded {
        border-bottom: 1px solid #ccc
    }

    .header-line-height {
        line-height: 1.35
    }

    .text-gray {
        color: #666
    }

    .textShadow {
        color: #fff;
        margin-top: -20px;
        padding: 0 5px;
        text-shadow: 2px 2px 4px #000
    }

    .svg-text {
        fill: #212121;
        font-size: 12px;
        font-family: SegoeUI,Segoe UI
    }

    .svg-icon {
        fill: #727272
    }

    .svg-bg {
        fill: rgba(255,255,255,0)
    }

    .active .svg-icon, .active .svg-text {
        fill: #ff6a00
    }

    .social-btn {
        margin-top: 10px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #4f4f4f;
        background: #fff;
        padding: 6px;
        color: #4f4f4f;
        outline-color: transparent !important
    }

    .opinion-card {
        border-right: 1px solid #cbcbcb;
        padding: 10px 15px
    }

        .opinion-card img {
            width: 60px !important
        }

    .primary-link {
        color: #ff6a00
    }

    .center-title {
        font-size: 22px;
        z-index: 10
    }

        .center-title span {
            background-color: #f4f4f4;
            padding: 0 10px;
            z-index: 10
        }

        .center-title:after {
            border-bottom: 1px solid #ff7b00;
            width: 100%;
            margin-top: -15px;
            content: " ";
            display: block;
            z-index: 1
        }

    @@media(max-width:1024px) {
        .section-title, .section-title2 {
            font-size: 22px
        }

        .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
            font-size: 20px;
            width: 35px
        }

        .owl-nav {
            top: -47px
        }

        .news-media-card .image-card-2 {
            width: 90px;
            height: 75px
        }

        .news-media-card.interview-media-card {
            border-top: 1px solid #646464;
            padding: 6px
        }
    }

    @@media(max-width:768px) {
        .bn-controls {
            display: none
        }

        .bn-news {
            right: 0 !important
        }

        #live-left h4 {
            font-size: 19px
        }

        #live-left ul > li > a {
            font-size: 17px;
            padding: 5px 0;
            display: inline-block
        }
    }

    @@media(max-width:425px) {
        .infocus-card {
            height: auto
        }

        .frame-ad {
            height: 50px;
            max-width: 100%;
            display: block;
            margin: 20px auto;
            width: 320px
        }
    }

    .padding-l-r-5 {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<div class="container">
    <h1 class="hidden">International Development News</h1>
    @* <div class="m-t-5 m-b-20"> @{var motherNotPatientAd=Request.Browser.IsMobileDevice==true ? "/images/Campaign/mother_not_patient_banner_small_mobile.jpg" : "/images/Campaign/mother_not_patient_banner_small.jpg";}<a href="/mother-not-patient"><img src="~/Content/transparent.png" data-src="@motherNotPatientAd" class="img-responsive lazy m-b-20 center-block" alt="Mother, Not Patient"/></a> </div>*@
    <link href="~/Content/breaking-news-ticker.min.css" rel="stylesheet" />
    <div class="breaking-news-ticker font-sans-serif m-b-20" id="example">
        <h2 class="bn-label no-margin f-16" title="Breaking News"> <a class="fg-white no-text-decoration" href="/news-analysis">Breaking News</a> </h2>
        <div class="bn-news"> <ul id="news-alert"></ul> </div>
        <div class="bn-controls">
            <button aria-label="Prevoius News"><span class="bn-arrow bn-prev"></span></button>
            <button aria-label="Pause/Play"><span class="bn-action"></span></button>
            <button aria-label="Next News"><span class="bn-arrow bn-next"></span></button>
        </div>
    </div>
    <h2 class="section-title">
        <span title="International Development News">Top Stories</span>
    </h2>
    <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
        @await Component.InvokeAsync("Infocus", new { reg = edition })
    </cache>
</div>
<div class="video-container m-t-20 m-b-20">
    <div class="container p-b-20">
        <div class="text-center center-title font-oswald m-t-20">
            <span>
                <a href="/blogs" class="text-decoration" title="News Analysis">OPINION / BLOG</a>
            </span>
        </div>
        <div class="m-t-20" id="opinion12">
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("Opinion", new { reg = edition })
            </cache>
        </div>
        <a href="/blogs" class="pull-right read-more-btn m-t-20">View All</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h3 class="section-title">
                <span>LIVE DISCOURSE</span>
                <span class="pull-right"><a class="text-decoration" href="/live-discourse">VIEW ALL</a></span>
            </h3>
            <div class="clearfix m-b-20" id="live-left">
                <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                    @await Component.InvokeAsync("InfocusLiveDiscourse", new { reg = edition })
                </cache>
            </div>
            <div class="m-t-10 m-b-20">
                <div class="advertisement-area">
                    <div class="advertisement-title">ADVERTISEMENT</div>
                    @* <a href="https://play.google.com/store/apps/details?id=com.visionri.devdiscourse" rel="noopener" title="Download App from Playstore" target="_blank"><img data-src="/images/SDGs/app-banner.jpg?format=jpeg" src="/Content/transparent.png" alt="Download the Devdiscourse App" class="img-responsive lazy center-block" /></a> *@
                </div>
            </div>
        </div><div class="clearfix col-sm-12 col-md-4">
            <h3 class="section-title"> <span>TRENDING</span> </h3>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("Trends", new { filter = "Trends", reg = edition })
            </cache>
            <div class="p-t-10 p-b-20">
                <div class="advertisement-area padding-l-r-5">
                    <div class="advertisement-title">ADVERTISEMENT</div>
                    <div class="adsbyir 320x100"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="video-container m-t-20 m-b-20"> <div id="videoNews" class="container"></div></div>
<div class="container m-t-10 m-b-20">
    <a href="https://www.devdiscourse.com/un-news" rel="noopener" title="UN News" target="_blank">
        <img data-src="/AdminFiles/Ads/Devdiscourse_UN_News_logo_728.jpg" src="/Content/transparent.png" alt="United Nations News" class="img-responsive lazy center-block" />
    </a>
</div>
<div class="container m-t-20 m-b-20">
    <div class="row">
        <div class="col-md-6" id="news1">
            <h2 class="section-title" title="AGRO-FORESTRY NEWS"> <span>AGRO-FORESTRY</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("AgroForestoryNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/agro-forestry" class="read-more-btn m-t-10 m-b-30" aria-label="Agro-Forestory News">Read More</a> </div>
        </div>
        <div class="col-md-6" id="news2">
            <h2 class="section-title" title="TECHNOLOGY NEWS"> <span>TECHNOLOGY</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("TechnologyNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/technology" class="read-more-btn m-t-10 m-b-30" aria-label="Technology News">Read More</a> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 p-t-10">
            <h2 class="section-title" title="ECONOMY &amp; BUSINESS NEWS"> <span>ECONOMY &amp; BUSINESS</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("EconomyNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/economy-business" class="read-more-btn m-t-10 m-b-30" aria-label="Economy and Business News">Read More</a> </div>
            <div class="advertisement-area m-t-20">
                <div class="advertisement-title">ADVERTISEMENT</div>
                @if (isMobile == true)
                {
                    <div class="clearfix">
                        <a href="https://tracking.vcommission.com/aff_c?offer_id=9834&aff_id=106900&file_id=199448" target="_blank"><img src="https://media.vcommission.com/brand/files/vcm/9834/Norton_CPS_Get_upto_dollar_47_off_on_all_in_one_protection_for_devices_SG_300x250.jpg" alt="Norton" width="300" height="250" border="0" class="img-responsive center-block" /></a>
                        <img src="https://tracking.vcommission.com/aff_i?offer_id=9834&file_id=199448&aff_id=106900" width="0" height="0" style="position:absolute;visibility:hidden;" border="0" />
                    </div>
                }
                else
                {
                    <div class="clearfix">
                        <a href="https://tracking.vcommission.com/aff_c?offer_id=9834&aff_id=106900&file_id=199449" target="_blank"><img src="https://media.vcommission.com/brand/files/vcm/9834/Norton_CPS_Get_upto_dollar_47_off_on_all_in_one_protection_for_devices_SG_728x90.jpg" alt="Norton" width="728" height="90" border="0" class="img-responsive center-block" /></a>
                        <img src="https://tracking.vcommission.com/aff_i?offer_id=9834&file_id=199449&aff_id=106900" width="0" height="0" style="position:absolute;visibility:hidden;" border="0" />
                    </div>
                }
            </div>
        </div><div class="col-md-5 p-t-10">
            <h2 class="section-title" title="EDUCATION NEWS"> <span>EDUCATION</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("EducationNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/education" class="read-more-btn m-t-10 m-b-30" aria-label="Education News">Read More</a> </div>
            <div class="clearfix m-t-20 m-b-20">
                <div class="advertisement-area">
                    <div class="advertisement-title">ADVERTISEMENT</div>
                    <a href="http://www.visionri.com/Home/Vyapad" rel="noreferrer" target="_blank">
                        <img data-src="/AdminFiles/Ads/Banner/vyapad_banner.jpg?format=jpeg" src="~/Content/transparent.png" class="img-responsive center-block lazy" alt="Vyapad" />
                    </a>
                </div>
            </div>
        </div>
    </div><div class="row">
        <div class="col-md-5 p-t-10">
            <h2 class="section-title" title="ENERGY &amp; EXTRACTIVES NEWS"> <span>ENERGY &amp; EXTRACTIVES</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("EnergyNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/energy-extractives" class="read-more-btn m-t-10 m-b-30" aria-label="Energy and Extractive News">Read More</a> </div>
        </div>
        <div class="col-md-7 p-t-10">
            <h2 class="section-title" title="HEALTH NEWS"> <span>HEALTH</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("HealthNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/health" class="read-more-btn m-t-10 m-b-30" aria-label="Health News">Read More</a> </div>
        </div>
    </div><div class="row">
        <div class="col-md-4 p-t-10">
            <h2 class="section-title" title="LAW &amp; GOVERNANCE NEWS"> <span>LAW &amp; GOVERNANCE</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("LawGovernanceNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/law-governance" class="read-more-btn m-t-10 m-b-30" aria-label="Law and Governance News">Read More</a> </div>
        </div>
        <div class="col-md-8 p-t-10">
            <h2 class="section-title" title="SCIENCE &amp; ENVIRONMENT NEWS"> <span>SCIENCE &amp; ENVIRONMENT</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("ScienceNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/science-environment" class="read-more-btn m-t-10 m-b-30" aria-label="Science and Environment News">Read More</a> </div>
            @if (isMobile == true)
            {
                <div class="clearfix m-b-20">
                    <a href="https://www.visionri.com/insight/16-telehealth-post-covid-19-breaking-stereotypes-and-embracing-the-potential-of-technology" title="TELEHEALTH POST-COVID 19: Breaking stereotypes and embracing the potential of technology" rel="noreferrer" target="_blank">
                        <img data-src="/AdminFiles/COE/telehealth_320x50.jpg" src="~/Content/transparent.png" class="img-responsive center-block lazy" alt="" />
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<div class="video-container">
    <div class="container p-b-20">
        <h2 class="section-title2"> <span style="background-color:#f4f4f4">Interviews</span> </h2> <div id="interviewCarousel" class="owl-carousel">
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("Interview", new { reg = edition })
            </cache>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="section-title" title="URBAN DEVELOPMENT NEWS"> <span>URBAN DEVELOPMENT</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("UrbanDevelopmentNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/urban-development" class="read-more-btn m-t-10 m-b-30" aria-label="Urban Development News">Read More</a> </div>
        </div>
        <div class="col-md-6">
            <h2 class="section-title" title="TRANSPORT NEWS"> <span>TRANSPORT</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("TransportNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/transport" class="read-more-btn m-t-10 m-b-30" aria-label="Transport News">Read More</a> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2 class="section-title" title="SPORTS NEWS"> <span>SPORTS</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("SportsNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/sports" class="read-more-btn m-t-10 m-b-30" aria-label="Sports News">Read More</a> </div>
            <div class="advertisement-area m-t-20">
                <div class="advertisement-title">ADVERTISEMENT</div>
                @if (isMobile == true)
                {
                    <div class="clearfix">
                        <a href="https://tracking.vcommission.com/aff_c?offer_id=9782&aff_id=106900&file_id=196475" target="_blank">
                            <img src="https://media.vcommission.com/brand/files/vcm/9782/MyProtein_CPS_Lowest_Prices_Guaranted_300x250.jpg" alt="My Protein" width="300" height="250" border="0" class="img-responsive center-block" />
                        </a>
                        <img src="https://tracking.vcommission.com/aff_i?offer_id=9782&file_id=196475&aff_id=106900" width="0" height="0" style="position:absolute;visibility:hidden;" border="0" class="img-responsive center-block" />
                    </div>
                }
                else
                {
                    <div class="clearfix">
                        <a href="https://tracking.vcommission.com/aff_c?offer_id=9782&aff_id=106900&file_id=196479" target="_blank">
                            <img src="https://media.vcommission.com/brand/files/vcm/9782/MyProtein_CPS_Lowest_Prices_Guaranted_728x90.jpg" alt="My Protein" width="728" height="90" border="0" class="img-responsive center-block" />
                        </a>
                        <img src="https://tracking.vcommission.com/aff_i?offer_id=9782&file_id=196479&aff_id=106900" width="0" height="0" style="position:absolute;visibility:hidden;" border="0" class="img-responsive center-block" />
                    </div>
                }
            </div>
        </div>
        <div class="col-md-5">
            <h2 class="section-title" title="WASH NEWS"> <span>WASH</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("WashNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/wash" class="read-more-btn m-t-10 m-b-30" aria-label="Water and Sanitation News">Read More</a> </div>
            <div class="clearfix m-t-20 m-b-30">
                @Html.Partial("_socialPartial")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h2 class="section-title" title="ART &amp; CULTURE NEWS"> <span>ART &amp; CULTURE</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("ArtCultureNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/art-culture" class="read-more-btn m-t-10 m-b-30" aria-label="Art and Culture News">Read More</a> </div>
        </div>
        <div class="col-md-7">
            <h2 class="section-title" title="POLITICS NEWS"> <span>POLITICS</span> </h2>
            <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
                @await Component.InvokeAsync("PoliticsNews", new { reg = edition })
            </cache>
            <div class="clearfix"> <a href="/news/politics" class="read-more-btn m-t-10 m-b-30" aria-label="Politics News">Read More</a> </div>
        </div>
    </div>
    <div class="clearfix m-t-20 m-b-20">
        <div class="advertisement-area">
            <div class="advertisement-title">ADVERTISEMENT</div>
            <a href="https://www.devdiscourse.com/article/technology/1404619-top-10-best-web-hosting-for-small-businesses-in-2021" target="_blank">
                <img src="/images/Best_Web_Hosting.jpg" alt="Top 10 best web hosting for small businesses in 2021" class="img-responsive center-block" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"> <h2 class="section-title" title="SOCIAL &amp; GENDER NEWS"> <span>SOCIAL &amp; GENDER</span> </h2> </div>
        <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
            @await Component.InvokeAsync("SocialNews", new { reg = edition, sector = 9 })
        </cache>
        <div class="col-md-12"> <a href="/news/socialgender" class="read-more-btn m-t-10 m-b-30" aria-label="Social and Gender News">Read More</a> </div>
    </div>
</div>
<div class="container m-t-20 m-b-20">
    <cache expires-after="@TimeSpan.FromMinutes(1)" vary-by-query="@edition">
        @await Component.InvokeAsync("News", new { reg = edition, skip = 0, take = 12 })
    </cache>
</div>

@section scripts {
    <script src="~/Scripts/breaking-news-ticker.min.js" async></script>
    <script>
        var _edition = '@(edition)'; var _saveSector = [];
        // remove style from all img tags
        document.addEventListener('DOMContentLoaded', () => {
            const images = document.querySelectorAll('img');
            images.forEach(img => {
                img.removeAttribute('style');
            });
        });
    </script>
    <script src="~/Scripts/Home/Index.js" async></script>
}
