@{
    ViewBag.Title = "International Development News, Breaking News, Opinion and Analysis - Devdiscourse";
    ViewBag.alternateHeadline = "International Development News, Breaking News, Opinion and Analysis - Devdiscourse";
    string domainUrl = "https://www.devdiscourse.com";
    string imageUrl = "/AdminFiles/Logo/devediscourse_banner.png";
    ViewBag.PageDescription = "World's leading Website for International Development News. Breaking News, Opinions, Technology, Social development, Urban Development, Entertainment, Sports news.";
    ViewBag.webEdition = ViewBag.edition;
    ViewBag.PostUrl = "https://www.devdiscourse.com";
    ViewBag.pageKeywords = "International Development News, Breaking News, Politics, Health development, Social development, Urban development, Education, Entertainment, Transport, Energy and Extractives news";
    var newsImage = imageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? imageUrl : string.Concat(domainUrl, imageUrl);
    ViewBag.PageImage = newsImage + "?width=920";
    TimeZoneInfo INDIAN_ZONE = TimeZoneInfo.FindSystemTimeZoneById("India Standard Time");
}
@section lastModified{
    <meta http-equiv="last-modified" content="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:sszzz")" />
}

 <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        var newWidth = 178;
        var newHeight = 135;
        var $imageContainer = $('.media-left');
        var $images = $imageContainer.find('img');
        $images.each(function (index, element) {
            var $img = $(element);
            var image = $img.attr('data-src');
            $img.attr('src', image);
            // var src = $img.attr('src');
            // $img.attr('src', src.substring(12));
            $img.width(newWidth);
            $img.height(newHeight);
        });
    });
</script> 

<script type="application/ld+json">
    {"@@context":"https://schema.org",
    "@@type":"NewsMediaOrganization",
    "name":"Devdiscourse",
    "alternateName":"Devdiscourse",
    "url":"https://www.devdiscourse.com",
    "logo":"https://www.devdiscourse.com/AdminFiles/Logo/ic_logo_amp.png",
    "contactPoint":{"@@type":"ContactPoint",
    "telephone":"+91-130-6444012",
    "contactType":"customer service",
    "areaServed":"IN",
    "availableLanguage":"en"},
    "sameAs":["https://www.facebook.com/devdiscourse","https://twitter.com/dev_discourse","https://www.instagram.com/devdiscourse","https://www.youtube.com/c/Devdiscourse","https://www.linkedin.com/showcase/dev_discourse","https://in.pinterest.com/devdiscourse"]}
</script>

<script type="application/ld+json">
    {"@@context": "http://schema.org","@@type": "WebPage","name": "Devdiscourse","description": "World's leading Website for International Development News. Breaking News, Opinions, Technology, Social development, Urban Development, Entertainment, Sports news.", "speakable":
    {
    "@@type": "SpeakableSpecification",
    "xpath": ["/htmt/head/title", "/htmt/head/meta[@@name='description']/@@content"]
    },"url" : "https://www.devdiscourse.com","publisher": {"@@type": "Organization","name": "Devdiscourse","url" : "https://www.devdiscourse.com","logo" : {"@@type": "ImageObject","contentUrl": "https://www.devdiscourse.com/AdminFiles/Logo/ic_logo_amp.png"
    }}}
</script>

<style>
    .frame-ad {
        height: 90px;
        max-width: 100%;
        display: block;
        margin: 20px auto;
        width: 728px
    }

    .video-container {
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        background-color: #f4f4f4;
        padding: 10px 0 30px 0
    }

    .country-sub {
        display: inline-block;
        font-family: sans-serif;
        z-index: 10;
        background-color: #ff7b00;
        color: #fff;
        padding: 2px 7px;
        font-size: 10px;
        margin-top: 5px
    }

    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled, .text-design span {
        display: block
    }

    .label.label-primary {
        background-color: red;
        font-weight: 400;
        font-family: monospace;
        font-size: 80%
    }

    .infocus-badge {
        padding: 3px 5px;
        margin-top: 5px;
        font-size: 12px;
        background-color: #ff7b00;
        color: #fff
    }

    .infocus-item {
        display: block;
        position: relative
    }

    .news-media-card.interview-media-card {
        border-top: 1px solid #646464;
        border-bottom: 0;
        margin: 0;
        padding: 10px;
        background-color: #4d4d4d
    }

        .news-media-card.interview-media-card .media-meta {
            color: #fff
        }

    .item-caption {
        position: absolute;
        bottom: 0
    }

        .item-caption .title {
            font-family: Oswald,sans-serif;
            color: #fff
        }

            .item-caption .title:hover {
                color: red
            }

    .infocus-news {
        padding-bottom: 54%;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover
    }

    .interview-news {
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover
    }

    #myCarousel {
        margin-bottom: 50px
    }

    .carousel-badge {
        color: #fff;
        background-color: #4d4d4d;
        border-radius: 2px;
        margin: 5px !important
    }

    .blog-card {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
        border-radius: 3px;
        padding: 8px;
        min-height: 120px
    }

    .infocus-card {
        display: block;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd
    }

        .infocus-card .title {
            margin-bottom: 0;
            margin-top: 5px;
            font-weight: 400;
            line-height: 1.2;
            font-size: 17px
        }

    .country {
        color: #ff6a00;
        font-weight: 500
    }

    .news-item-overlay {
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,.9),rgba(0,0,0,1));
        padding: 8px
    }

    .interest-card, .sectorNewsCard .media {
        padding-bottom: 5px
    }

    .content-overlay {
        height: 50%;
        background: linear-gradient(rgba(0,0,0,0),rgba(255,255,255,.4),rgba(255,255,255,1))
    }

    .text-design {
        text-decoration: none !important;
        color: #fff !important
    }

    .myCard .heading {
        color: #222
    }

    .myCard:hover .heading {
        color: #ff7b00
    }

    .sectorNewsCard {
        margin-top: 5px;
        border-bottom: 1px solid #ddd
    }

    .mini-card {
        height: 85px;
        margin-top: 5px
    }

        .mini-card .image-card {
            width: 100px;
            height: 80px;
            background-size: cover
        }

    .col-lg-12 .sectorNewsCard:last-child, .col-lg-6 .sectorNewsCard:last-child {
        border-bottom: 1px solid transparent
    }

    .sectorNewsCard .image-card {
        width: 90px;
        height: 90px;
        background-size: cover
    }

    .owl-stage-outer {
        padding-top: 0;
        z-index: 1000 !important
    }

    .interest-card {
        border-bottom: 1px solid #ddd;
        margin-top: 5px
    }

    .col-lg-3 .interest-card:last-child {
        border-bottom: 1px solid transparent
    }

    .borderpadded {
        border-bottom: 1px solid #ccc
    }

    .header-line-height {
        line-height: 1.35
    }

    .text-gray {
        color: #666
    }

    .textShadow {
        color: #fff;
        margin-top: -20px;
        padding: 0 5px;
        text-shadow: 2px 2px 4px #000
    }

    .svg-text {
        fill: #212121;
        font-size: 12px;
        font-family: SegoeUI,Segoe UI
    }

    .svg-icon {
        fill: #727272
    }

    .svg-bg {
        fill: rgba(255,255,255,0)
    }

    .active .svg-icon, .active .svg-text {
        fill: #ff6a00
    }

    .social-btn {
        margin-top: 10px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #4f4f4f;
        background: #fff;
        padding: 6px;
        color: #4f4f4f;
        outline-color: transparent !important
    }

    .opinion-card {
        border-right: 1px solid #cbcbcb;
        padding: 10px 15px
    }

        .opinion-card img {
            width: 60px !important
        }

    .primary-link {
        color: #ff6a00
    }

    .center-title {
        font-size: 22px;
        z-index: 10
    }

        .center-title span {
            background-color: #f4f4f4;
            padding: 0 10px;
            z-index: 10
        }

        .center-title:after {
            border-bottom: 1px solid #ff7b00;
            width: 100%;
            margin-top: -15px;
            content: " ";
            display: block;
            z-index: 1
        }

    @@media(max-width:1024px) {
        .section-title, .section-title2 {
            font-size: 22px
        }

        .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
            font-size: 20px;
            width: 35px
        }

        .owl-nav {
            top: -47px
        }

        .news-media-card .image-card-2 {
            width: 90px;
            height: 75px
        }

        .news-media-card.interview-media-card {
            border-top: 1px solid #646464;
            padding: 6px
        }
    }

    @@media(max-width:768px) {
        .bn-controls {
            display: none
        }

        .bn-news {
            right: 0 !important
        }

        #live-left h4 {
            font-size: 19px
        }

        #live-left ul > li > a {
            font-size: 17px;
            padding: 5px 0;
            display: block
        }
    }

    @@media(max-width:425px) {
        .infocus-card {
            height: auto
        }

        .frame-ad {
            height: 50px;
            max-width: 100%;
            display: block;
            margin: 20px auto;
            width: 320px
        }

        .container.full-width {
            padding-left: 0;
            padding-right: 0;
        }

        .container.mt-minus-20 {
            margin-top: -20px;
        }

        .container.mb-mobile-0 {
            margin-bottom: 0;
        }
    }

    .padding-l-r-5 {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>
<div class="container full-width mt-minus-20">
    <h1 class="hidden">International Development News</h1>
    <div class="advertisement-area m-b-10">
        <div class="advertisement-title">Advertisement</div>
    </div>
</div>
<div class="container">
    <div class="breaking-news-ticker font-sans-serif m-b-20" id="example">
        <h2 class="bn-label no-margin f-16" title="Breaking News">
            <a class="fg-white no-text-decoration" href="/news-analysis">Breaking News</a>
        </h2>
        <div class="bn-news">
            <ul id="news-alert"></ul>
        </div>
        <div class="bn-controls">
            <button aria-label="Prevoius News"><span class="bn-arrow bn-prev"></span></button>
            <button aria-label="Pause/Play"><span class="bn-action"></span></button>
            <button aria-label="Next News"><span class="bn-arrow bn-next"></span></button>
        </div>
    </div>
    <h2 class="section-title">
        <span title="International Development News">Top Stories</span>
    </h2>
    @* @{Html.RenderAction("GetInfocus", "Home", new { reg = "Global Edition" });} *@
    @await Component.InvokeAsync("Infocus",new { reg = "Global Edition" });
</div>
<div class="video-container m-t-20 m-t-20">
    
    <div id="videoNews" class="container"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h3 class="section-title">
                <span>LIVE DISCOURSE</span>
                <span class="pull-right"><a class="text-decoration" href="/live-discourse">VIEW ALL</a></span>
            </h3>
            <div class="clearfix m-b-20" id="live-left">
                @* @{Html.RenderAction("GetInfocusLiveDiscourse", "Livediscourse", new { reg = "Global Edition" });} *@

                @await Component.InvokeAsync("InfocusLiveDiscourse",new { reg = "Global Edition"  });

            </div>
            <div class="m-t-20 m-b-20">
                @{
                    var motherNotPatientAd =
                    // Request.Browser.IsMobileDevice == true
                    // ? "/images/Campaign/corona/COVID19_awareness.jpg"
                    // :
                    "/images/Campaign/corona/COVID19_awareness_728x90.jpg";
                }
                <a href="/coronavirus-awareness-campaign"><img src="~/Content/transparent.png" data-src="@motherNotPatientAd" class="img-responsive lazy m-b-20 center-block" alt="COVID-19 Awareness Campaign" /></a>
            </div>
        </div>
        <div class="clearfix col-sm-12 col-md-4">
            <h3 class="section-title">
                <span>TRENDING</span>
            </h3>
            @* @{Html.RenderAction("GetTrends", "Home", new { filter = "Trends", reg = ViewBag.edition });} *@
            @await Component.InvokeAsync("Trends",new { filter = "Trends", reg = @ViewBag.edition });
            <div class="p-t-10 p-b-20">
                <a href="/research"> <img data-src="/images/SDGs/participatory-sdgs.jpg?width=445&quality=80" src="~/Content/transparent.png" alt="Participatory monitoring of SDGs" class="img-responsive center-block lazy" style="border:1px solid #eee" /> </a>
            </div>
        </div>
    </div>
</div>
<div class="video-container m-t-20 m-b-20">
    <div class="container p-b-20">
        <div class="text-center center-title font-oswald m-t-20">
            <span><a href="/blogs" class="text-decoration" title="News Analysis">OPINION / BLOG</a></span>
        </div>
        <div class="m-t-20" id="opinion12">
            @* @{Html.RenderAction("GetOpinion", "Home", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("Opinion",new { reg = @ViewBag.edition });
        </div>
        <a href="/blogs" class="pull-right read-more-btn m-t-20">View All</a>
    </div>
</div>
<div class="container m-t-10 m-b-20">
    <a href="https://www.devdiscourse.com/un-news" rel="noopener" title="UN News" target="_blank"><img data-src="/AdminFiles/Ads/Devdiscourse_UN_News_logo_728.jpg" src="/Content/transparent.png" alt="United Nations News" class="img-responsive lazy center-block" /></a>
</div>
<div class="container m-t-20 m-b-20">
    <div class="row">
        <div class="col-md-6" id="news1">
            <h2 class="section-title" title="AGRO-FORESTRY NEWS">
                <span>AGRO-FORESTRY</span>
            </h2>
            @* @{Html.RenderAction("GetAgroForestoryNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("AgroForestoryNews",new { reg=@ViewBag.edition });

            <div class="clearfix">
                <a href="/news/agro-forestry" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Agro-Forestory News">Read More</a>
           @*      <a href="/search/index" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Agro-Forestory News">Read More</a> *@
            </div>
        </div>
        <div class="col-md-6" id="news2">
            <h2 class="section-title" title="TECHNOLOGY NEWS">
                <span>TECHNOLOGY</span>
            </h2>
            @* @{Html.RenderAction("GetTechnologyNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("TechnologyNews",new { reg=@ViewBag.edition });
            <div class="clearfix">
                <a href="/news/technology" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Technology News">Read More</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 p-t-10">
            <h2 class="section-title" title="ECONOMY &amp; BUSINESS NEWS">
                <span>ECONOMY &amp; BUSINESS</span>
            </h2>
            @* @{Html.RenderAction("GetEconomyNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("EconomyNews", new{ reg = @ViewBag.edition });
            <div class="clearfix">
                <a href="/news/economy-business" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Economy and Business News">Read More</a>
            </div>
            @* @if (Request.Browser.IsMobileDevice)
            {
            <div class="clearfix m-b-20">
            <div class="advertisement-area">
            <div class="advertisement-title">Advertisement</div>@Html.Partial("_coeSlides")
            </div>
            </div>
            }
            else
            { *@
            <div class="clearfix m-t-30 m-b-30">
                <div class="advertisement-area padding-l-r-5">
                    <div class="advertisement-title">Advertisement</div>
                    <a href="https://visionri.com/insight/22-refugee-compassion-and-response-ideas-to-mitigate-disasters-now-and-in-their-future" target="_blank" rel="noopener"><img src="~/AdminFiles/COE/refugee_728x90.jpg" class="img-responsive center-block m-t-10 m-b-10" alt="add-banner"></a>
                </div>
            </div>
            @* } *@
        </div>
        <div class="col-md-5 p-t-10">
            <h2 class="section-title" title="EDUCATION NEWS">
                <span>EDUCATION</span>
            </h2>
            @* @{Html.RenderAction("GetEducationNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("EducationNews", new{ reg = @ViewBag.edition });
            <div class="clearfix">
                <a href="/news/education" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Education News">Read More</a>
            </div>
            <div class="clearfix text-center m-t-0 m-b-20">
                <div class="advertisement-area">
                    <div class="advertisement-title">Advertisement</div>@Html.Partial("_socialPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 p-t-10">
            <h2 class="section-title" title="ENERGY &amp; EXTRACTIVES NEWS">
                <span>ENERGY &amp; EXTRACTIVES</span>
            </h2>
            @* @{Html.RenderAction("GetEnergyNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("EnergyNews", new{ reg = @ViewBag.edition });
            <div class="clearfix">
                <a href="/news/energy-extractives" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Energy and Extractives News">Read More</a>
            </div>
        </div>
        <div class="col-md-7 p-t-10">
            <h2 class="section-title" title="HEALTH NEWS">
                <span>HEALTH</span>
            </h2>
            @* @{Html.RenderAction("GetHealthNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("HealthNews", new{ reg = @ViewBag.edition });
            <div class="clearfix">
                <a href="/news/health" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Health News">Read More</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 p-t-10">
            <h2 class="section-title" title="LAW &amp; GOVERNANCE NEWS">
                <span>LAW &amp; GOVERNANCE</span>
            </h2>
            @* @{Html.RenderAction("GetLawGovernanceNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("LawGovernanceNews", new{ reg = @ViewBag.edition});
            <div class="clearfix">
                <a href="/news/law-governance" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Law and Governance News">Read More</a>
            </div>
        </div>
        <div class="col-md-8 p-t-10">
            <h2 class="section-title" title="SCIENCE &amp; ENVIRONMENT NEWS">
                <span>SCIENCE &amp; ENVIRONMENT</span>
            </h2>
            @* @{Html.RenderAction("GetScienceNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("ScienceNews", new{ reg = @ViewBag.edition});
            <div class="clearfix">
                <a href="/news/science-environment" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Science and Enviroment News">Read More</a>
            </div>
        </div>
    </div>
</div>@*<div class="video-container"> <div class="container p-b-20"> <h2 class="section-title2"> <span style="background-color:#f4f4f4">Interviews</span> </h2> <div id="interviewCarousel" class="owl-carousel"> @{Html.RenderAction("GetInterview", "Home", new{reg=@ViewBag.edition});}</div></div></div>*@
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="section-title" title="URBAN DEVELOPMENT NEWS">
                <span>URBAN DEVELOPMENT</span>
            </h2>
            @* @{Html.RenderAction("GetUrbanDevelopmentNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("UrbanDevelopmentNews", new { reg = @ViewBag.edition});
            <div class="clearfix">
                <a href="/news/urban-development" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Urban Development News">Read More</a>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="section-title" title="TRANSPORT NEWS">
                <span>TRANSPORT</span>
            </h2>
            @* @{Html.RenderAction("GetTransportNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("TransportNews", new { reg = @ViewBag.edition});
            <div class="clearfix">
                <a href="/news/transport" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Transport News">Read More</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2 class="section-title" title="SPORTS NEWS">
                <span>SPORTS</span>
            </h2>
            @* @{Html.RenderAction("GetSportsNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("SportsNews", new { reg = @ViewBag.edition});
            <div class="clearfix">
                <a href="/news/sports" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Sports News">Read More</a>
            </div>
            @* @if (Request.Browser.IsMobileDevice)
            {
            <div class="clearfix m-b-20">
            <div class="advertisement-area">
            <div class="advertisement-title">Advertisement</div>@Html.Partial("_coeSlides")
            </div>
            </div>
            }
            else
            { *@
            <div class="clearfix m-t-30 m-b-30">
                <div class="advertisement-area padding-l-r-5">
                    <div class="advertisement-title">Advertisement</div>
                    <a href="https://visionri.com/insight/23-tracking-telehealth-covid-19-ushers-in-a-new-era-for-the-industry" target="_blank" rel="noopener"><img src="~/AdminFiles/COE/tracking_telehealth_728x90.jpg" class="img-responsive center-block m-t-10 m-b-10" alt="add-banner"></a>
                </div>
            </div>
            @* } *@
        </div>
        <div class="col-md-5">
            <h2 class="section-title" title="WASH NEWS">
                <span>WASH</span>
            </h2>
            @* @{Html.RenderAction("GetWashNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("WashNews", new { reg = @ViewBag.edition});
            <div class="clearfix">
                <a href="/news/wash" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Water and Sanitation News">Read More</a>
            </div>
            <div class="clearfix m-t-20 m-b-30"> @Html.Partial("_socialPartial")</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h2 class="section-title" title="ART &amp; CULTURE NEWS">
                <span>ART &amp; CULTURE</span>
            </h2>
            @* @{Html.RenderAction("GetArtCultureNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("ArtCultureNews", new { reg = @ViewBag.edition});
            <div class="clearfix">
                <a href="/news/art-culture" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Art and Culture News">Read More</a>
            </div>
        </div>
        <div class="col-md-7">
            <h2 class="section-title" title="POLITICS NEWS">
                <span>POLITICS</span>
            </h2>
            @* @{Html.RenderAction("GetPoliticsNews", "SectorNews", new { reg = @ViewBag.edition });} *@
            @await Component.InvokeAsync("PoliticsNews", new { reg = @ViewBag.edition});
            <div class="clearfix">
                <a href="/news/politics" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Politics News">Read More</a>
            </div>
        </div>
    </div>
    <div class="clearfix m-t-20 m-b-20">
        <a href="https://www.devdiscourse.com/article/technology/1404619-top-10-best-web-hosting-for-small-businesses-in-2021" target="_blank"><img src="/images/Best_Web_Hosting.jpg" alt="Top 10 best web hosting for small businesses in 2021" class="img-responsive center-block" /></a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title" title="SOCIAL &amp; GENDER NEWS">
                <span>SOCIAL &amp; GENDER</span>
            </h2>
        </div>
        @* @{Html.RenderAction("GetSocialNews", "SectorNews", new { reg = @ViewBag.edition, sector = "9" });} *@
        @await Component.InvokeAsync("SocialNews", new { reg = @ViewBag.edition});
        <div class="col-md-12">
            <a href="/news/socialgender" class="read-more-btn m-t-10 m-b-30" aria-label="Read more on Social and Gender News">Read More</a>
        </div>
    </div>
</div>
<div class="container m-t-20 m-b-20">
    @* @{Html.RenderAction("GetNews", "Home", new { reg = ViewBag.edition, skip = 0, take = 12 });} *@
    @await Component.InvokeAsync("News",new { reg = ViewBag.edition, skip = 0, take = 12 });
</div>
<link href="~/Content/breaking-news-ticker.min.css" rel="stylesheet" async />
<link rel="stylesheet" type="text/css" href="~/Content/SiteNew.min.css" />
@section scripts{

    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <script src="~/scripts/jquery.lazy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/scripts/home/index.min.js"></script>
    <script src="~/scripts/home/index.js"></script>
    <script src="~/Scripts/breaking-news-ticker.min.js" async></script>
    <script>
        var _edition = '@(ViewBag.edition)'; var _saveSector = [];
    </script>
    <script src="~/Scripts/Home/Index.min.js" async></script>
}


