@model IEnumerable<Devdiscourse.Models.ViewModel.LatestNewsView>
@functions {
    async Task CountryHelper(string country)
    {

        if (!string.IsNullOrEmpty(country))
        {
            var countryArr = country.Split(',');
            foreach (var t in countryArr.Take(1))
            {
                <span>@t</span>
            }
        }
        else
        {
            <span>Global</span>
        }
    }
}
@if (Model.Count() <= 5)
{
    <div class="m-t-30 row">
        @foreach (var item in Model.Take(2))
        {
            <div class="col-xs-12 col-sm-6">
                @{
                    var newsImage = item.ImageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.ImageUrl : item.ImageUrl;
                }
                <a href="@Url.RouteUrl("ArticleDetailswithprefix", new{ prefix = item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})">
                    <div class="event-news bg-gray" style="background-image:url(@newsImage?width=360&height=240&mode=crop&format=webp);"></div>
                </a>
                <div class="eventcard-title card-bottom">
                    <a href="@Url.RouteUrl("ArticleDetailswithprefix", new{prefix=item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})" class="text-decoration">
                        <h4 title="@item.Title" style="font-stretch:extra-condensed;line-height:1.2;font-weight:400" class="no-margin">
                            @item.Title
                        </h4>
                        <p class="text-gray">
                            <small>
                                @{
                                    await CountryHelper(item.Country);
                                }
                            </small> | <span><small>@item.TimeAgo()</small></span>
                        </p>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="m-t-20 row">
        @foreach (var item in Model.Skip(2).Take(3))
        {
            <div class="p-b-20 col-xs-12 col-sm-4">
                @{
                    var newsImage = item.ImageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.ImageUrl : item.ImageUrl;
                    <a href="@Url.RouteUrl("ArticleDetailswithprefix", new{ prefix = item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})">
                        <div class="trend-card bg-gray lazy" style="background-image:url(@newsImage?width=326&height=180&mode=crop&format=webp);"></div>
                    </a>
                }
                <div class="eventcard-title card-bottom">
                    <a href="@Url.RouteUrl("ArticleDetailswithprefix", new{prefix=item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})" class="text-decoration">
                        <h4 title="@item.Title" style="font-stretch:extra-condensed;line-height:1.2;font-weight:400" class="no-margin">
                            @item.Title
                        </h4>
                        <p class="text-gray">
                            <small>
                                @{
                                    await CountryHelper(item.Country);
                                }

                            </small> | <span><small>@item.TimeAgo()</small></span>
                        </p>
                    </a>
                </div>
            </div>
        }
    </div>
}
else if (Model.Count() > 5)
{
    <div class="m-t-20 row">
        @foreach (var item in Model)
        {
            <div class="p-b-20 col-xs-12 col-sm-4">
                @{
                    var newsImage = item.ImageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.ImageUrl : item.ImageUrl;
                }
                <a href="@Url.RouteUrl("ArticleDetailswithprefix", new{ prefix = item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})">
                    <div class="trend-card bg-gray lazy" style="background-image:url(@newsImage?width=326&height=180&mode=crop&format=webp);"></div>
                </a>
                <div class="eventcard-title card-bottom">
                    <a href="@Url.RouteUrl("ArticleDetailswithprefix", new{prefix=item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})" class="text-decoration">
                        <h4 title="@item.Title" style="font-stretch:extra-condensed;line-height:1.2;font-weight:400" class="no-margin">
                            @item.Title
                        </h4>
                        <p class="text-gray no-margin">
                            <small>
                                @{
                                    await CountryHelper(item.Country);
                                }
                            </small> | <span><small>@item.TimeAgo()</small></span>
                        </p>
                    </a>
                </div>
            </div>
        }
    </div>
}
@*@if (Model.Count() >= 5)
{
    <div class="no-margin load_more row" style="background-color:#fff;padding:5px">
        <div class="no-padding col-xs-12">
            <div class="loadMoreButton text-center">
                SHOW MORE
            </div>
        </div>
    </div>
}*@
