@using Devdiscourse.Models;
@using X.PagedList
@model IPagedList<Devdiscourse.Models.ViewModel.NewsListView>
@using X.PagedList.Mvc.Core
@{
    IPagedList<Devdiscourse.Models.ViewModel.NewsListView> model = Model;
}
@{
    ViewBag.Title = "DevNews";
    var domainUrl = "https://www.devdiscourse.com";
    Layout = "~/Views/Shared/_Layout _plain.cshtml";
}
@functions {
    async Task Truncate(string input, int length)
    {
        if (string.IsNullOrEmpty(input))
        {
            <text> </text>
        }
        else if (input.Length <= length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)
            <text>..</text>
        }
    }
}
<link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/admin.css" rel="stylesheet" />
<style>
    body {
        background-color: #efefef;
    }

    input, textarea, select {
        max-width: 100% !important;
    }

    .badge {
        border-radius: unset;
    }

    #infocusEdition, #infocusEdition_findInList {
        width: 100% !important;
    }
</style>
<div class="container bg-white p-20">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Media", "Admin")">Admin</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("AssignedNews", "PTI")">News</a></li>
    </ol>
    <div class="row m-b-10">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <label>Region</label>
            <select class="form-control newsfilter" id="selRegion">
                @* @{ Html.RenderAction("GetRegion", "Home");} *@
                @await Component.InvokeAsync("Region");
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <label>Country</label>
            <select class="form-control newsfilter" id="selCountry"></select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <label>Sector</label>
            <select class="form-control newsfilter" id="selSector">
                <option value="0">All Sector</option>
                @* @{ Html.RenderAction("GetSectorMenu", "Home", new { filter = "AdminPage" });} *@
                @await Component.InvokeAsync("SectorMenu", new { filter = "AdminPage" });
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <label for="source">Source</label>
            <select class="form-control newsfilter" id="selSource">
                <option value="">Select Source</option>
                <option value="Reuters" tabindex="(With inputs from Reuters)">Reuters</option>
                <option value="GOV.UK" tabindex="(With inputs from GOV.UK)">GOV.UK</option>
                <option value="PTI" tabindex="(This is a reproduced story from PTI as it is)">PTI</option>
                <option value="IANS" tabindex="(With inputs from IANS)">IANS</option>
                <option value="IRU">IRU</option>
                <option value="ANI">ANI</option>
                <option value="AfDB" tabindex="(With inputs from AfDB)">AfDB</option>
                <option value="ADB" tabindex="(With inputs from ADB)">ADB</option>
                <option value="IDB" tabindex="(With inputs from IDB)">IDB</option>
                <option value="IAEA" tabindex="(With inputs from IAEA)">IAEA</option>
                <option value="A2i" tabindex="(With inputs from A2i)">A2i</option>
                <option value="South Africa Government Press Release" tabindex="(With inputs from SAnews)">South Africa Government Press Release</option>
                <option value="US Government Press Release" tabindex="(With inputs from USDS)">US Government Press Release</option>
                <option value="UN" tabindex="(With inputs from UN)">UN</option>
                <option value="EIB" tabindex="(With inputs from EIB)">EIB</option>
                <option value="IMF" tabindex="(With inputs from IMF)">IMF</option>
                <option value="WHO" tabindex="(With inputs from WHO)">WHO</option>
                <option value="UNDP" tabindex="(With inputs from UNDP)">UNDP</option>
                <option value="PR Newswire" tabindex="(With inputs from UNDP)">PR Newswire</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <label>Text Search</label>
            <div class="input-group" id="searchDiv" style="margin:0">
                <label for="searchBtn"></label>
                <input type="text" class="form-control" style="border-right:none !important;border-top-left-radius:4px;border-bottom-left-radius:4px;" id="inputText" placeholder="Search...">
                <div class="input-group-btn">
                    <button class="btn btn-default" name="searchBtn" id="textBtn" style="border-left:none !important;color:#aeaeae;" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="overflow:auto;font-size:14px;">
        <table class="table">
            <tr>
                <th>
                    Edition
                </th>
                <th>
                    Country
                </th>
                <th>
                    Sector
                </th>
                <th>
                    Label
                </th>
                <th>
                    Image
                </th>
                <th>
                    Title
                </th>
                <th>
                    Source
                </th>
                <th>
                    Views
                </th>
                <th>
                    Created On
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region)
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(item.Country))
                        {
                            string country = item.Country.Replace(",", ", ");
                            @country
                        }
                    </td>
                    <td>
                        @* @{ Html.RenderAction("GetSector", "Home", new { sector = item.Sector, filter = "Plane" });} *@
                        @await Component.InvokeAsync("Sector", new { sector = item.Sector, filter = "Plane" });
                    </td>
                    <td>
                        @item.Label
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(item.ImageUrl))
                        {
                            var newsImage = $"/Experiment/Img?imageUrl={item.ImageUrl}";
                            <img alt="news thumbnail" src="@newsImage&width=80&height=80&mode=crop" class="img-responsive lazy" style="max-width:80px;" />
                        }
                        else
                        {
                            <img alt="news thumbnail" src="~/images/newstheme.jpg?width=80&height=80&mode=crop" class="img-responsive lazy" style="max-width:80px;" />
                        }
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(item.WorkStage))
                        {
                            var workstage = item.WorkStage.Split(',');
                            <span id="@item.NewsId">
                                <span class="pull-right badge @workstage[1]">@workstage[0]</span>
                            </span>
                        }
                        else
                        {
                            <span id="@item.NewsId"></span>
                        }
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ViewCount)
                    </td>
                    <td>
                        @item.CreatedOn.ToClientTime()
                    </td>
                    <td>
                        <button class="btn btn-xs btn-success addToInfocus" data-region="@item.Region" data-type="News" data-id="@item.NewsId" title="Add To Infocus"><span class="fa fa-check"></span></button>
                        @*<a href="@Url.Action("Create","Infocus", new { id = item.NewsId, ft = "nws" })" class="btn btn-xs btn-success" title="Add To Infocus"><span class="fa fa-check"></span></a>*@
                        <a href="@Url.Action("Edit", "DevNews", new { id = item.Id, ret= "assign" })" class="btn btn-xs btn-success" target="_blank" title="Edit"><span class="fa fa-pencil"></span></a>
                        <a href="@Url.Action("Details", "DevNews", new { id = item.Id })" class="btn btn-xs btn-info" target="_blank" title="Details"><span class="fa fa-eye"></span></a>
                        @{
                            string pageUrl = Url.RouteUrl("ArticleDetailswithprefix", new { prefix = item.Label ?? "agency - wire", id = item.GenerateSecondSlug() });
                        }
                        <a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=@domainUrl@pageUrl', 'facebook_share','height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');" href="javascript:void(0);" class="btn btn-xs btn-info" target="_blank" title="Share on facebook"><span class="fa fa-facebook"></span></a>
                        <button class="btn btn-xs btn-success twitterShare" target="_blank" title="Share on twitter" data-title="@item.Title" data-url="@domainUrl@Url.RouteUrl("ArticleDetailswithprefix", new { prefix = item.Label ?? "agency-wire", id = item.GenerateSecondSlug() })"><span class="fa fa-twitter"></span></button>
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="panel-footer" style="padding-top: 20px; background-color: transparent; border-top: none;">
        <small>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</small>
        @Html.PagedListPager(Model, page => Url.Action("AssignedNews", "PTI", new { page, region = ViewBag.region, sector = ViewBag.sector, source = ViewBag.source, country = ViewBag.country, text = ViewBag.text }))
    </div>
</div>
<div id="InfocusModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">In Focus News</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger" id="infocus-notify"></p>
                <label class="control-label">Edition <span class="text-danger"> *</span></label>
                <input id="InfEdition" type="hidden" class="form-control" />
                <div id="multi_select"></div>
                <div class="text-danger info-text" id="infoEd"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SaveInfocus">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="TwitterShareModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="fa fa-twitter"></span> Share on twitter</h4>
            </div>
            <div class="modal-body">
                <label class="control-label">Content</label>
                <textarea class="form-control" id="twitterConetent" style="height:100px;"></textarea>
                <ul class="list-inline" id="trends"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ShareOnTwitter">Share</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.multiselect.js"></script>
    @*    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script> *@
    <script type="text/javascript">
        $(document).ready(function () {
            var _selSector = '@(ViewBag.sector)';
            var _selCategory = '@(ViewBag.category)';
            var _region = '@(ViewBag.region)';
            var _source = '@(ViewBag.source)';
            var _country = '@(ViewBag.country)';
            var _inputSearchText = '@(ViewBag.text)';
            var _afterDate = '@(ViewBag.afDate)';
            var _beforeDate = '@(ViewBag.bfDate)';
            var _selUser = '@(ViewBag.uid)';
            var InfocusType = "News";
            var InfocusEditions = "";
            var InfocusNewsId = '';
            $("#selSector").val(_selSector)
            $("#selSource").val(_source)
            $("#selCategory").val(_selCategory)
            $('#selRegion').val(_region);
            $('#inputText').val(_inputSearchText);
            $("#beforeDate").val(_beforeDate);
            $("#afterDate").val(_afterDate);
            $('#selUser').val(_selUser);

            $('.twitterShare').click(function () {
                var twUrl = $(this).attr('data-url');
                var twTitle = $(this).attr('data-title');
                $("#twitterConetent").val(twTitle + " " + twUrl);
                $("#TwitterShareModal").modal('show');
                getTwitterTrends();
            });
            $("#ShareOnTwitter").click(function () {
                var message = $("#twitterConetent").val();
                $.ajax({
                    url: '/Social/PostMessageToTwitter',
                    type: 'Get',
                    dataType: 'Json',
                    data: { message: message },
                    success: function (data) {
                        $("#twitterConetent").val('');
                        $("#TwitterShareModal").modal('hide');
                        $.notify({ message: "Success!" }, { type: "success", delay: 1e3, placement: { from: "top", align: "right" } });
                    },
                    error: function () {
                    },
                });
            });
            function getTwitterTrends() {
                $.ajax({
                    url: 'http://103.86.41.67:3000/',
                    type: 'Get',
                    dataType: 'Json',
                    success: function (data) {
                        var trendshtml = "";
                        $.each(data, function (i, item) {
                            trendshtml += '<li class="badge twitterTag" style="margin:5px;">' + item + '</li>';
                        });
                        $('#trends').html(trendshtml);
                    },
                    error: function () {
                    },
                });
            }
            $(document).on('click', '.twitterTag', function () {
                $('#twitterConetent').val($('#twitterConetent').val() + " " + $(this).text());
            });
            $('.addToInfocus').click(function () {
                var infocusEdition = $(this).attr('data-region').split(',');
                InfocusType = $(this).attr('data-type');
                InfocusNewsId = $(this).attr('data-id');
                var infocusEditionHtml = `<option>Universal Edition</option>`;
                for (i = 0; i < infocusEdition.length; i++) {
                    infocusEditionHtml += `<option>${infocusEdition[i]}</option>`;
                }
                $('#multi_select').html('<select class="form-control" multiple="multiple" id="infocusEdition">' + infocusEditionHtml + '</select>');
                $('#infocusEdition').multiselect("destroy").multiselect();
                $("#InfocusModal").modal('show');
                $(document).find('input[name="infocusEdition[]"]').on("change", function () {
                    var valueArray = [];
                    $("input[name='infocusEdition[]']:checked").each(function () {
                        valueArray.push($('label[for="' + this.id + '"]').text());
                    });
                    $("#InfEdition").val(valueArray);
                });
            });

            $('#InfocusModal').on('hidden.bs.modal', function () {
                InfocusType = '';
                InfocusEditions = '';
                InfocusNewsId = '';
                $("#InfEdition").val('');
                $('.info-text').html('');
            })
            $("#SaveInfocus").click(function () {
                $('.info-text').html('');
                InfocusEditions = $('#InfEdition').val();
                if (InfocusEditions == '') {
                    $('#infoEd').html('Edition is required.');
                } else {
                    $.ajax({
                        url: '/Infocus/CreateInfocus',
                        type: 'Get',
                        dataType: 'Json',
                        data: { type: InfocusType, editions: InfocusEditions, newsId: InfocusNewsId },
                        success: function (data) {
                            if (data == "") {
                                $("#InfocusModal").modal('hide');
                            }
                            else {
                                var _edition = data.split(',');
                                if (_edition.length >= 1) {
                                    $('#infocus-notify').html('This news already exist in ' + data + " edition infocus.");
                                }
                                else {
                                    $("#InfocusModal").modal('hide');
                                }
                            }
                        },
                        error: function () {
                        },
                    });
                }
            });

            $('.lazy').lazy();
            getCountries();
            function getCountries() {
                $.ajax({
                    url: '/Home/GetCountry',
                    type: 'Post',
                    data: { region: _region },
                    dataType: 'Json',
                    success: function (data) {
                        $('#selCountry').html("").append('<option value="">Select</option>');
                        $.each(data, function (i, item) {
                            $('#selCountry').append('<option value="' + item.title + '">' + item.title + '</option>');
                        });
                        $('#selCountry').val(_country);
                    },
                    error: function () {
                    },
                });
            }
            $('.newsfilter').on("input", function () {
                updateVarible();
            });
            function updateVarible() {
                _selSector = $("#selSector option:selected").val();
                _selCategory = $("#selCategory option:selected").val();
                _region = $("#selRegion option:selected").val();
                _source = $("#selSource option:selected").val();
                _country = $("#selCountry").val();
                _beforeDate = $("#beforeDate").val();
                _afterDate = $("#afterDate").val();
                _selUser = $('#selUser').val();
                window.location.href = "/PTI/AssignedNews?region=" + _region + "&sector=" + _selSector + "&country=" + _country + "&text=" + _inputSearchText + "&source=" + _source;
            }
            $('#textBtn').click(function () {
                _inputSearchText = $('#inputText').val();
                window.location.href = "/PTI/AssignedNews?region=" + _region + "&sector=" + _selSector + "&country=" + _country + "&text=" + _inputSearchText + "&source=" + _source;
            });
            $("#inputText").keydown(function (e) {
                if (e.keyCode == 13) {
                    _inputSearchText = $('#inputText').val();
                    window.location.href = "/PTI/AssignedNews?region=" + _region + "&sector=" + _selSector + "&country=" + _country + "&text=" + _inputSearchText + "&source=" + _source;
                }
            });
        });
        $(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            connection.on("NewsOpenNotification", function (id, user, colorcode) {
                $('#' + id).html('<span class="pull-right badge ' + colorcode + '">' + user + '</span>');
            });

            connection.start().then(function () {
                console.log("Connection Start");
            }).catch(function (err) {
                return console.error(err.toString());
            });
        });
    </script>
}
