@model IEnumerable<Devdiscourse.Models.ViewModel.DiscourseViewModel>


<div class="row">
    <div class="col-md-7">
        @foreach (var item in Model.Take(1))
        {
            string controller = "live-discourse";
            string id = item.GenerateSlug();
         
            //var newsImage = "https://devdiscourse.blob.core.windows.net/devnews/13_02_2019_15_50_27_8830586.jpg?width=360&height=240&mode=crop&format=jpeg&quot";
           //var newsImage = item.ImageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.ImageUrl : item.ImageUrl;
            var newsImage = item.ImageUrl;
           
           foreach (var child in item.children.Take(1))
            {
                if (!string.IsNullOrEmpty(@child.ImageUrl) && child.ImageUrl != "/images/sector/all_sectors.jpg")
                {
                   
                   // newsImage = child.ImageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + child.ImageUrl : child.ImageUrl;
                    newsImage = child.ImageUrl;
                
                }
                else
                {
                    newsImage = "https://devdiscourse.blob.core.windows.net/devnews/04_06_2020_12_24_02_9070784.jpg?";
                }
            }



             <a href="@controller/@id" aria-label="@item.Title"> 


         @*    <a asp-controller="@controller" asp-route-id="@id" aria-label="@item.Title"> *@

            <div style="padding-bottom:54%;background-size:cover;background-image:url(@newsImage?width=80&height=53&mode=crop&format=jpeg)" class="infocus-bg lazy" data-src="@newsImage?width=360&height=240&mode=crop&format=jpeg"></div>
            </a> <h3 class="trend-title no-margin p-t-5">

                 <a href="@controller/@id" class="text-decoration">@item.Title</a> 

              
              @*   <a asp-controller="@controller" asp-route-id="@id" class="text-decoration"></a> *@


            </h3> <hr /> <ul class="f-16 p-l-20">

                @foreach (var child in item.children)
                {

                    <li class="m-t-5">
                          <a href="@controller/@id#post_@child.Id" class="text-decoration"> 
                     @*  <a asp-controller="@controller" asp-route-id="@id" class="text-decoration">*@
    
                            
                            @child.Title</a></li>
                }
            </ul>
        }
    </div><div class="col-md-5" id="InfocusLiveDiscourse">
        @foreach (var item in Model.Skip(1))
        {
            string controller = "live-discourse";
            string id = item.GenerateSlug();
        
           // var newsImage = item.ImageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.ImageUrl : item.ImageUrl;

         var  newsImage = item.ImageUrl;

           <a href="@controller/@id" class="text-decoration"> 
           @* <a asp-controller="@controller" asp-route-id="@id" class="text-decoration">*@
                <img class="lazy img-responsive full-width" data-src="@newsImage?width=295&height=120&mode=crop" src="~/Content/transparent.png?width=width=37&height=15&mode=crop" alt="@item.Title" /> <h3 class="trend-title no-margin p-b-20 p-t-5">@item.Title</h3> </a>

        }
     
    </div>
</div>