@model Devdiscourse.Models.ContributorModels.Payment
<div class="m-t-20">
    <div class="text-title" style="margin-bottom:1px;">Billing Address</div>
    <div class="shadow bg-white p-20">
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Name</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.Name</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Address</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.Address</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">City</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.City</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">State</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.State</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Country</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.Country</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">PinCode</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.Pincode</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Contact</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.Contact</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Email</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.EmailId</p></div>
        </div>
    </div>
</div>
<div class="m-t-20">
    <div class="text-title" style="margin-bottom:1px;">Bank Details</div>
    <div class="shadow bg-white p-20">
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">A/C Holder Name</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.AccountHolderName</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Bank Name</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.BankName</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Bank Address</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.BankAddress</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">City</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.BankCity</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">State</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.BankState</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Country</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.BankCountry</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">PinCode</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.BankPincode</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Account Number</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.AccountNo</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Account Type</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.AccountType</p></div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">IFSC Code</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.IFSCCode</p></div>
        </div>
    </div>
</div>
<div class="m-t-20">
    <div class="text-title" style="margin-bottom:1px;">Pan Card Details</div>
    <div class="shadow bg-white p-20">
        <div class="row m-t-10">
            <div class="col-xs-6 col-sm-3">Pan Card Number</div>
            <div class="col-xs-6 col-sm-9"><p class="text-muted">@Model.PanCardNo</p></div>
        </div>
    </div>
</div>
