@using Devdiscourse.Models;
@using X.PagedList
@model IPagedList<Devdiscourse.Models.ContributorModels.Earnings>
@using X.PagedList.Mvc.Core
@{
    IPagedList<Devdiscourse.Models.ContributorModels.Earnings> model = Model;
}
@{
    ViewBag.Title = "Earnings - Devdiscourse";
    string domainUrl = "https://www.devdiscourse.com";
    string imageUrl = "/AdminFiles/Logo/devediscourse_banner.png";
    ViewBag.PageDescription = "Devdiscourse is World's leading website for International Development News. Get Breaking News on Politics, Business, Technology, Science, Health, Education and Entertainment.";
    ViewBag.webEdition = ViewBag.edition;
    ViewBag.PostUrl = "https://www.devdiscourse.com/contribute";
    ViewBag.pageKeywords = "Development news, Current news, live news, international news in english, latest top news, India news, Africa news, daily news, world news, latest news today, online news, sports news, politics news, health news, science news, technology news, energy news, urban development news, transport news, economy news, finance news, sports news, art and culture news, education news, sports news, Agro-Forestry, social gender, Public Administration, Water and Sanitation";
    var newsImage = imageUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? imageUrl : string.Concat(domainUrl, imageUrl);
    ViewBag.PageImage = newsImage;
}
<style>
    .monthDD {
        display: inline-block;
        width: unset;
        margin-left: 20px;
    }
    .earningDiv{
        background-color:#fff;
        padding:5px;
        margin-bottom:5px;
    } 
    @@media(max-width:425px) {
        .monthDD {
            margin-left: 0px;
            padding:0;
        }
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/contribute.css" rel="stylesheet" />
<div class="container p-b-20">
    <div class="left-panel">
        <div class="icon-cont bg-primary">
            <a href="@Url.Action("Create", "ContentCreator")">
                <img src="~/images/contibutor/plus_white.svg" class="icon" />
                <div class="fg-white text-center">Create</div>
            </a>
        </div>
        <div class="icon-cont bg-white m-t-10">
            <a href="@Url.Action("Index", "ContentCreator")">
                <img src="/images/contibutor/dashboard_line.svg" class="icon" />
                <div class="text-center">Dashboard</div>
            </a>
        </div>
        <div class="icon-cont bg-white">
            <a href="@Url.Action("Drafted", "ContentCreator")">
                <img src="~/images/contibutor/draft_line.svg" class="icon" />
                <div class="text-center">Draft</div>
            </a>
        </div>
        <div class="icon-cont bg-white">
            <a href="@Url.Action("Pending", "ContentCreator")">
                <img src="~/images/contibutor/pending_line.svg" class="icon" />
                <div class="text-center">Pending Review</div>
            </a>
        </div>
        <div class="icon-cont bg-white">
            <a href="@Url.Action("Published", "ContentCreator")">
                <img src="~/images/contibutor/publish_line.svg" class="icon" />
                <div class="text-center">Published</div>
            </a>
        </div>
        <div class="icon-cont bg-white">
            <a href="@Url.Action("Rejected", "ContentCreator")">
                <img src="~/images/contibutor/cannot_line.svg" class="icon" />
                <div class="text-center">Cannot Publish</div>
            </a>
        </div>
        <div class="icon-cont bg-white m-t-10" id="keyInst" style="cursor:pointer">
            <img src="~/images/contibutor/key_instr_line.svg" id="instruction" class="icon" />
            <div class="text-center">
                Key Instructions
            </div>
        </div>
        <div class="icon-cont bg-white m-t-10">
            <a href="@Url.Action("Earnings", "ContentCreator")">
                <img src="~/images/contibutor/earnings_fill.svg" class="icon" />
                <div class="text-center">Earnings</div>
            </a>
        </div>
        <div class="icon-cont bg-white">
            <a href="@Url.Action("Settings", "ContentCreator")">
                <img src="~/images/contibutor/setting.svg" class="icon" />
                <div class="text-center">Payment Settings</div>
            </a>
        </div>
        <div class="icon-cont bg-white">
            <a href="@Url.Action("History", "ContentCreator")">
                <img src="~/images/contibutor/history.svg" class="icon" />
                <div class="text-center">Payment History</div>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="dashboard-card" style="min-height:120px;">
                    <p class="no-margin">Total Reads</p>
                    <div class="fg-black stat-count"><b>@Model.Sum(a=>a.ViewCount)</b><img src="~/images/contibutor/bar_chart.svg" class="pull-right" height="32" /></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="dashboard-card" style="min-height:120px;">
                    <p class="no-margin">Total Earnings</p>
                    <div class="fg-black stat-count"><b>@Model.Sum(a=>a.Amount)</b><img src="~/images/contibutor/earning_money.svg" class="pull-right" height="32" /></div>
                </div>
            </div>
        </div>
        <div class="m-t-20 row">
            @if (ViewBag.trending != null)
            {
                <div class="col-xs-12 col-md-7">
                    <div class="dashboard-card" style="min-height:120px;">
                        <div class="overlay">
                            <p class="no-margin">Trending</p>
                            <a href="@Url.Action("ContentDetails", "ContentCreator", new { id = ViewBag.trending.Contents.GenerateSlug() })"><p>@ViewBag.trending.Contents.Title</p></a>
                            <div class="fg-black stat-count"><b>@ViewBag.trending.ViewCount</b> <img src="~/images/contibutor/bar_chart.svg" class="pull-right" height="32" /></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="m-t-20">
            <div class="row m-b-10">
                <div class="col-xs-7 col-sm-8 col-md-10">
                    <label>Post</label>
                    <select class="form-control monthDD" id="selMonth">
                        <option value="0">Select</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-xs-2 col-md-1 text-center">Reads</div>
                <div class="col-xs-3 col-sm-2 col-md-1 text-center">Earnings($)</div>
            </div>
            @*<div class="m-t-10 row earningDiv">
                <div class="col-xs-7 col-sm-8 col-md-10">
                    <img src="~/images/contibutor/article.svg" style="width:18px;" />
                    <span style="margin-left:10px;">Nepal and China agree to complete ongoing bilateral projects in timely manner</span>
                </div>
                <div class="col-xs-2 col-md-1 text-center">1.2K</div>
                <div class="col-xs-3 col-sm-2 col-md-1 text-center">0.6</div>
            </div>
            <div class="row earningDiv">
                <div class="col-xs-7 col-sm-8 col-md-10">
                    <img src="~/images/contibutor/video.svg" style="width:18px;" />
                    <span style="margin-left:10px;">Tripura Tea Corporation to use Indo-Bangla fencing land for plantation</span>
                </div>
                <div class="col-xs-2 col-md-1 text-center">1.2K</div>
                <div class="col-xs-3 col-sm-2 col-md-1 text-center">1.2</div>
            </div>*@
            @foreach (var item in Model)
            {
                <div class="row earningDiv">
                    <div class="col-xs-7 col-sm-8 col-md-10">
                        @if (item.Contents.IsVideo == true)
                        {
                            <img src="~/images/contibutor/video.svg" style="width:18px;" />
                        }
                        else
                        {
                            <img src="~/images/contibutor/article.svg" style="width:18px;" />
                        }
                        <span style="margin-left:10px;">@item.Contents.Title</span>
                    </div>
                    <div class="col-xs-2 col-md-1 text-center">@item.ViewCount</div>
                    <div class="col-xs-3 col-sm-2 col-md-1 text-center">@item.Amount</div>
                </div>
            }
            @if (Model.Any())
            {
                <div class="panel-footer" style="padding-top: 20px; background-color: transparent; border-top: none;">
                    <small>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</small>
                    @Html.PagedListPager(Model, page => Url.Action("Earnings", "ContentCreator", new { page, mm = ViewBag.month }))
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="instModel" tabindex="-1" role="dialog" style="z-index:700000">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="crossbtn"><img src="/images/contibutor/cross.svg" id="cancelInst" /></div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-left">
                        <div style="width:110px;height:110px">
                            <img src="/images/contibutor/key-instruction.svg" style="height:100px" />
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="inst-title">KEY INSTRUCTIONS</div>
                    </div>
                </div>
                <div class="p-t-20">
                    <p style="font-size:16px;font-weight:500">Please note that Devdiscourse editorial team reserves the right to publish or reject any post. The following are automatic red flags, and will result in the post being rejected without any explanation:</p>
                    <ol style="font-size: 16px; padding: 15px;">
                        <li>The post is plagiarized from anywhere (this will also lead to a permanent ban).</li>
                        <li>The post is a rehash of a piece from any other publication.</li>
                        <li>The article is shorter than 300 words.</li>
                        <li>The article is in a language other than English.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var _selMonth = '@(ViewBag.month)';
            //var today = new Date();
            //var month = today.getMonth();

            // Active Menu Icon
            $(document).find('.linkBtn').removeClass('active');
            $(document).find('#writeLink').addClass('active');

            // Select Current Month
            $('#selMonth').val(_selMonth);
            // Instruction Dialog Code
            $('#keyInst').click(function () {
                $('#instModel').modal('show');
                $("#instruction").attr("src", "/images/contibutor/key_instr_fill.svg");
            });
            $('#cancelInst').click(function () {
                $('#instModel').modal('hide');
                $("#instruction").attr("src", "/images/contibutor/key_instr_line.svg");
            });
            $('#selMonth').change(function () {
                var _month = $(this).val();
                if (_month != 0) {
                    window.location.href = "/ContentCreator/Earnings?mm=" + _month;
                }
                else {
                    window.location.href = "/ContentCreator/Earnings";
                }
            });
        });
    </script>
}