@{
    ViewBag.Title = "PublishContent";
    Layout = "~/Views/Shared/_Layout _plain.cshtml";
}
<style>
    body {
        background-color: #efefef;
    }

    .shadow {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    }

    .profile-image-card {
        background-repeat: no-repeat;
        background-size: cover;
        height: 160px;
        width: 160px;
    }

    .text-title {
        font-size: 18px;
        margin-bottom: 20px;
        background-color: #fff;
        padding: 10px;
    }

    .dropdown-menu li {
        padding: 4px 10px;
    }

    .filterMenu {
        cursor: pointer;
    }

    @@media(max-width:425px) {
        .content-title {
            padding-top: 10px;
        }
    }
</style>
<div class="container bg-white m-t-10 m-b-10 p-b-10 p-t-10">
    <ol class="breadcrumb no-margin">
        <li class="breadcrumb-item"><a href="@Url.Action("Media", "Admin")">Admin</a></li>
        <li class="breadcrumb-item active"><a href="@Url.Action("PublishContent", "ContentCreator")">Published Contents</a></li>
    </ol>
</div>
<div class="container no-padding m-t-30 m-b-10">
    <div class="row">
        @*<div class="col-xs-12 col-sm-3">
        <label>Text Search</label>
        <div class="input-group" style="margin-top:0">
        <label for="searchBtn"></label>
        <input type="text" class="form-control" name="searchBtn" style="border-right:none !important;border-top-left-radius:4px;border-bottom-left-radius:4px;" id="inputText" placeholder="Search...">
        <div class="input-group-btn">
        <button class="btn btn-default" aria-label="Search" id="textBtn" style="border-left:none !important;color:#aeaeae;" type="button">
        <i class="fa fa-search"></i>
        </button>
        </div>
        </div>
        </div>*@
        <div class="col-xs-12 col-sm-3">
            <label>Users</label>
            <select class="form-control userList" id="selectUser">
                <option value="">Select</option>
                @foreach (var item in ViewBag.data)
                {
                    <option value="@item.Id" tabindex="@item.User">@item.User</option>
                }
            </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <label>Filters</label>
            <select class="form-control" id="selectfilter">
                <option vlaue="all">All</option>
                <option vlaue="article">Article</option>
                <option vlaue="video">Video</option>
                <option vlaue="slide">Slide</option>
            </select>
        </div>
    </div>
</div>
<div class="container no-padding m-t-20" style="margin-bottom:50px;">
    <div class="m-t-20 bg-white shadow" id="userInfo"></div>
    <div class="m-t-20 m-b-10" id="contentList">
        @* @{ Html.RenderAction("GetPublishedContent", "ContentCreator");} *@
        @await Component.InvokeAsync("PublishedContent");
    </div>
    <div id="bankDetails"></div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var _userId = "";

            $('#selectfilter').change(function () {
                var _filter = $(this).val();
                $.ajax("/ContentCreator/GetPublishedContent?userId=" + _userId + "&fl=" + _filter).done(function (data) { $('#contentList').html(data); });
            });
            $('#selectUser').change(function () {
                _userId = $(this).val();
                if (_userId == "") {
                    window.location.reload();
                }
                $.ajax("/ContentCreator/GetUserInfo?userId=" + _userId).done(function (data) { $('#userInfo').html(data); $('.lazy').lazy(); });
                $.ajax("/ContentCreator/GetPublishedContent?userId=" + _userId).done(function (data) { $('#contentList').html(data); });
                $.ajax("/ContentCreator/GetBankDetails?userId=" + _userId).done(function (data) { $('#bankDetails').html(data); });
            });
            $('#textBtn').click(function () {
                var _searchText = $('#inputText').val();
                var _uId = "";
                $("#selectUser > option").each(function () {
                    var _searchUser = this.text;
                    if (_searchUser.toLowerCase() == _searchText.toLowerCase()) {
                        _uId = this.value;
                        $.ajax("/ContentCreator/GetUserInfo?userId=" + _uId).done(function (data) { $('#userInfo').html(data); $('.lazy').lazy(); });
                        $.ajax("/ContentCreator/GetPublishedContent?userId=" + _uId).done(function (data) { $('#contentList').html(data); });
                        $.ajax("/ContentCreator/GetBankDetails?userId=" + _userId).done(function (data) { $('#bankDetails').html(data); });
                    }
                });
            });
            $("#inputText").keydown(function (e) {
                if (e.keyCode == 13) {
                    var _searchText = $('#inputText').val();
                    var _uId = "";
                    $("#selectUser > option").each(function () {
                        var _searchUser = this.text;
                        if (_searchUser.toLowerCase() == _searchText.toLowerCase()) {
                            _uId = this.value;
                            $.ajax("/ContentCreator/GetUserInfo?userId=" + _uId).done(function (data) { $('#userInfo').html(data); $('.lazy').lazy(); });
                            $.ajax("/ContentCreator/GetPublishedContent?userId=" + _uId).done(function (data) { $('#contentList').html(data); });
                            $.ajax("/ContentCreator/GetBankDetails?userId=" + _userId).done(function (data) { $('#bankDetails').html(data); });
                        }
                    });
                }
            });
        });
    </script>
}
