@model IEnumerable<Devdiscourse.Models.ViewModel.NewsWireView>
@foreach (var item in Model)
{
    <div class="p-10 m-t-10 bg-white shadow">
        <div class="media">
            <div class="media-left">
                <div class="news-image-card lazy bg-gray" data-src="/remote.axd?@item.ImageUrl?width=120&height=100&mode=crop"></div>
            </div>
            <div class="media-body p-l-10">
                <p class="pull-right">Submitted: @item.CreatedOn.ToString("dd-MM-yyyy")</p>
                <h4 class="media-heading p-t-10 content-title" style="cursor:pointer;" id="@item.Id">@item.Title</h4>
                <p>@item.Country</p>
                <p>@item.NewsLabels</p>
            </div>
        </div>
    </div>
}
