@model IEnumerable<Devdiscourse.Models.ViewModel.SearchView>
<div class="row">
    <div class="col-md-6">
        @foreach (var item in Model.Take(1))
        {
            var newsImage = $"/Experiment/Img?imageUrl={item.ImageUrl}";
            <a href="@Url.RouteUrl("ArticleDetailswithprefix", new{prefix=item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})">
                <div class="video-cover m-b-20 lazy" title="@item.Title" data-src="@newsImage&width=555&height=300&mode=crop">
                    <div class="cover-overlay">
                        <h3 class="video-title">@item.Title</h3>
                        <small class="fg-white no-margin">
                            @if (!String.IsNullOrEmpty(item.Country))
                            {
                                var countryArr = item.Country.Split(','); foreach (var t in countryArr.Take(1))
                                {
                                    <text>@t</text>
                                }
                            }
                            else
                            {
                                <text>Global</text>
                            } |  @item.CreatedOn.ToString("dd MMM yyyy")
                        </small>
                    </div>
                    <div class="video-btn"><span class="fa fa-play"></span></div>
                </div>
            </a>
        }
    </div>
    <div class="col-md-6">
        @foreach (var item in Model.Skip(1))
        {
            var newsImage = $"/Experiment/Img?imageUrl={item.ImageUrl}";
            <a href="@Url.RouteUrl("ArticleDetailswithprefix", new{prefix=item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})">
                <div class="media m-b-10" title="@item.Title">
                    <div class="media-left">
                        <div class="video-cover small lazy" data-src="@newsImage&width=100&height=90&mode=crop">
                            <div class="video-btn small"><span class="fa fa-play"></span></div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="fg-black f-16 font-normal no-margin l-h">@item.Title</h4>
                        <small class="text-muted">
                            @if (!String.IsNullOrEmpty(item.Country))
                            {
                                var countryArr = item.Country.Split(','); foreach (var t in countryArr.Take(1))
                                {
                                    <text>@t</text>
                                }
                            }
                            else
                            {
                                <text>Global</text>
                            }
                        </small>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
